/* PIKAXO OPTIONS ADMIN CSS */
.pikaxo-adm {

}

.pikaxo-adm .theme-upgrade{
	background: #fff;
    border: 1px solid #ababab;
}

.pikaxo-adm .theme-upgrade table{

}

.pikaxo-adm .theme-upgrade table .theme-table-head{

}

.pikaxo-adm .theme-upgrade table .theme-table-head tr {

}

.pikaxo-adm .theme-upgrade table .theme-table-head tr th {

}

.pikaxo-adm .theme-upgrade table .theme-table-head tr th:nth-child(1) {
	background: #353535;
}

.pikaxo-adm .theme-upgrade table .theme-table-head tr th:nth-child(2) {
	background: #000;
	text-align: center;
}

.pikaxo-adm .theme-upgrade table .theme-table-head tr th:nth-child(3) {
	background: #2d2d43;
	text-align: center;
}

.pikaxo-adm .theme-upgrade table .theme-table-head tr th h3{
	font-size: 19px;
    color: #fff;
    margin: 10px 20px;
    /*text-align: left;*/
}

.pikaxo-adm .theme-upgrade table tbody{

}

.pikaxo-adm .theme-upgrade table tbody tr {

}

.pikaxo-adm .theme-upgrade table tbody tr td{

}

.pikaxo-adm .theme-upgrade table tbody tr td:nth-child(2){
	text-align: center;
}

.pikaxo-adm .theme-upgrade table tbody tr td:nth-child(3){
	text-align: center;
}

.pikaxo-adm .theme-upgrade table tbody tr td .dashicons-no {
	color: #e32828;
	font-size: 28px;
}


.pikaxo-adm .theme-upgrade table tbody tr td .dashicons-yes {
	color: #10d710;
	font-size: 28px;
}

.pikaxo-adm .theme-upgrade table tbody tr .feature-items-title {
	font-weight: 600;
	font-size: 17px;
	line-height: 1.3;
	font-size: 14px;
    padding-left: 25px;
    box-sizing: border-box;
}

.pikaxo-adm .theme-upgrade table tbody tr .go-pro .link {
	display: inline-block;
    background: #10d710;
    color: #fff;
    text-decoration: none;
    padding: 15px 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    border-radius: 50px;
    margin-bottom: 10px;
}

.pikaxo-adm .theme-upgrade table tbody tr td h3{

}

.pikaxo-adm .theme-upgrade table tbody tr td a{

}
.pikaxo-adm .theme-upgrade table tbody tr .free-btn{
	font-size: 18px;
    font-weight: 600;
}

.pikaxo-adm .theme-upgrade table tbody tr td .pro-link-btn{
	color: #272323;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    box-sizing: border-box;
}

.pikaxo-adm .theme-upgrade table tbody tr td span{

}

.pikaxo-adm .header-welcome{
	font-size: 42px;
	font-weight: 500;
	line-height: 45px;
	color: #353535;
	margin-bottom: 20px;
}

.pikaxo-adm h4{
	font-size: 19px;
}

.pikaxo-adm .theme-opt {}

.pikaxo-adm .theme-para {
	background: #fff;
    border: 1px solid #ababab;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.pikaxo-adm .theme-para p{
	font-size: 15px;
	line-height: 1.5;
    color: #353535;
}


.pikaxo-adm .theme-para p a{}

.pikaxo-adm-dsply-fl {
	display: flex;
}

.pikaxo-adm-jc-sp-btw {
	justify-content: space-between;
}

.pikaxo-adm-fl-wrap {
	flex-wrap: wrap;
}

.pikaxo-adm-wid-100 {
	width: 100%;
}

.pikaxo-adm-wid-99 {
	width: 99%;
}

.pikaxo-adm-wid-49 {
	width: 49%;
}

.pikaxo-adm-wid-33 {
	width: 33%;
}

@media only screen and (max-width: 420px) { 


	.pikaxo-adm-mobwid-100 {
		width: 100%;
	}



}