/*
Theme Name: Pikaxo
Theme URI: http://zidithemes.com
Requires at least: 4.7
Tested up to: 5.6.2
Requires PHP: 5.2.4
Author: Zidithemes
Author URI: http://zidithemes.com/author
Description: Pikaxo is a responsive wordpress theme which improves blog and news experience with minimal and easy to use design which works on all devices.  It is created for blog, publishers, magazines, newspaper, news, editors and bloggers. It is a simple design and multi-purpose theme compatible with elementor page builder and woocommerce.
Version: 0.1.84
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:   two-columns, right-sidebar, footer-widgets, Blog, News, Education, full-width-template
Text Domain: pikaxo
*/

:root {
    --dsply-blk: block;
    --dsply-fl: flex;
    --dsply-ib: inline-block;
    --fl-wrap: wrap;
    --center: center;
    --wid-100: 100%;
    --mg-10: 10px;
    --mg-td-20: 20px;
    --mg-bt-20: 20px;
    --txt-deco-no: none;
    --col-white: #fff;
    --pd-tdrl-20-40: 20px 40px;
    --bxsz-bb: border-box;
}


* {
    margin: 0px;
    padding: 0px;
    outline: none;
} 

::selection {
    color: #fff;
    background: linear-gradient(#22c9e6 0%,#099bce 100%);
    background: blue;
}
     
        
body {
    background: #f9f9f9;
    font-family: 'Noto Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}      

a {
	text-decoration: none;
} 

li {
    list-style: none;
} 

img {
    max-width: 100%;
    display: var(--dsply-blk);
}

audio {
    max-width: 100%;
}

video {
    max-width: 100%;
}

fieldset {
    border: none;
    padding: 0px;
    margin: 0px;
}

h2 {
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
}
        
.flowid {
    float: left;
    width: var(--wid-100);
}  
        
.mg-auto { margin: 0px auto; }
.mg-left-15 { margin-left: 15px; }
              
.dsply-fl { display: flex; } 
        
.dsply-ib { display: inline-block; } 

.fl-wrap { flex-wrap: wrap; }                 
        
.wid-100 { width: var(--wid-100); }
.wid-99 { width: 99%; }
.wid-97 { width: 97%; }
.wid-90 { width: 90%; }
.wid-80 { width: 80%; }
.wid-75 { width: 75%; }
.wid-70 { width: 70%; }
.wid-69 { width: 69%; }
.wid-50 { width: 50%; }
.wid-49 { width: 49%; }
.wid-48 { width: 48%; }
.wid-33 { width: 33.3%; }
.wid-32 { width: 32.3%; }
.wid-30 { width: 30%; }
.wid-29 { width: 29%; }
.wid-25 { width: 25%; }
  
        
.relative { position: relative;}
 
        
.text-center { text-align: center; }
.jc-sp-btw  { justify-content: space-between; }
.jc-center { justify-content: center; }
.ai-center { align-items: center; }

.mg-tp { margin: 45px 0px 0px 0px; }
.mg-rt-10 { margin-right: 10px; }
.mg-bt-30 { margin-bottom: 30px; }
.mg-bt-20 { margin-bottom: 20px; }
.mg-bt-10 { margin-bottom: 10px; }

.mg-td-20 { margin: 20px 0px; }

.pd-td-50 { padding: 50px 0px; }



/* BEGIN WORDPRESS STYLE   */
.wp-caption {
    
}

.wp-caption-text {
    
}

.sticky {
    
}

.gallery-caption {
    
}

.screen-reader-text {
    margin: 0px;
}

.bypostauthor {
    
}

.alignright {
    
}

.alignleft {
    
}

.aligncenter {
    margin: 10px auto;
    display: var(--dsply-blk);
}

.wp-video {
    margin: 0px auto 20px;
}


/* END WORDPRESS STYLE   */



/* Accessibility */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}




/* WORDPRESS BLOCK IMAGE */
.wp-block-image {
    width: 60%;
    margin: 44px auto;
}
/* END WORDPRESS BLOCK IMAGE */



/* BEGIN NAVIGATION MENU */	
.side-nav {
    background: linear-gradient(#5dc04a 0%,#4ac04f 100%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0px;
    z-index: 1;
    transition: .4s linear;
    overflow: hidden;
}
 
.side-nav:hover {
    
}

.side-nav .list {
}

.side-nav .list .site-nav-title{
    text-align: center;
    display: var(--dsply-blk);
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    margin: 40px 0px 20px 0px;
    letter-spacing: 0.3px;
    font-weight: 600;
}
        
.side-nav .list ul{}
        
.side-nav .list ul li {
    list-style: none;
}
        
.side-nav .list ul li a{
    color: #fff;
    padding: 10px 10px;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
} 


.navcheck {
    position: fixed;
    top: 45px;
    left: 5px;
    opacity: 0;
    z-index: 3;
    width: 35px;
    height: 41px;
    cursor: pointer;
}

.navlabel {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: fixed;
    overflow: hidden;
    white-space: nowrap;
    z-index: 3;
    top: 45px;
    left: 5px;
    transition: .4s ease-in-out;
    cursor: pointer;
}    

.panbtn {
    padding: 2px 5px;
    display:block;
    border: 2px solid transparent;
    background: linear-gradient(#5dc04a 0%,#4ac04f 100%);
    z-index: 2;
    position: fixed;
    top: 45px;
    left: 5px;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.panbtn > div {
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 3px 0px;
    transition: .5s;
}

.navcheck:checked  {
    left: 230px;
}    

.navcheck:checked  ~ .panbtn  {
    left: 230px;
}

.navcheck:checked  ~ .navlabel  {
    left: 230px;
}


.navcheck:checked  ~ .side-nav  {
    width: 300px;
    z-index: 1;
}





.navcheck:checked ~ .panbtn div:nth-child(1){
    transform: rotate(45deg) translate(6px, 3px);
}


.navcheck:checked ~ .panbtn div:nth-child(2){
    transform: scale(0);
}


.navcheck:checked ~ .panbtn div:nth-child(3){
    transform: rotate(-45deg) translate(6px, -4px);
}       
.site-mob-title {
    display: none;
    overflow: hidden;
    transform: scale(0);
	transition: .4s;
}        

/* END NAVIGATION STYLE */

.site-main-title {}

.site-main-title h2{

}

.site-main-title h2 a{
    text-decoration: none;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
}


/* BEGIN TOP HEADER */
.top-header {}

.top-header .top-header-items {}

.top-header .top-header-items h2{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.3;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.top-header .top-header-items h2 a{
    color: #000;
}
/* END TOP HEADER */


/* BEGIN INDEX PAGE */
.pikaxo-index {
    padding-top: 24px
}

.pikaxo-index .inner{}

.pikaxo-index .inner .card-outer{}

.pikaxo-index .inner .card-outer .card-box{}

.pikaxo-index .inner .card-outer .card-box .card-items{
    margin-bottom: 30px;
    border: 1px solid #b4b4b4;
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,.1);
    background: #fefefe;
    border-radius: 5px;
}

.pikaxo-index .inner .card-outer .card-box .card-items .tags{
    margin-bottom: 25px;
    padding: 20px 40px;
    box-sizing: border-box;
}

.pikaxo-index .inner .card-outer .card-box .card-items .tags a{
    color: #353535;
    /* background: #9c9c9c; */
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 2px;
}

.pikaxo-index .inner .card-outer .card-box .card-items .img-box{
    height: 600px;
}

.pikaxo-index .inner .card-outer .card-box .card-items .img-box a{
    
}

.pikaxo-index .inner .card-outer .card-box .card-items .img-box a img{
    width: var(--wid-100);
    height: 100%;
    display: var(--dsply-blk);
}

.pikaxo-index .inner .card-outer .card-box .card-items .content {}

.pikaxo-index .inner .card-outer .card-box 
.card-items .content .content-inner {
    padding: 15px 30px;
    box-sizing: var(--bxsz-bb);
}

.pikaxo-index .inner .card-outer
.card-box .card-items .content .content-inner  h2{}

.pikaxo-index .inner .card-outer
.card-box .card-items .content .content-inner  h2 a{
    color: #000;
}

.pikaxo-index .inner .card-outer 
.card-box .card-items .content .content-inner  .meta{}

.pikaxo-index .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .date{}

.pikaxo-index .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author{}

.pikaxo-index .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author a{
    color: #000;
}

.pikaxo-index .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category{
    display: var(--dsply-ib);
}

.pikaxo-index .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category a{
    color: #000;
}

.pikaxo-index .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments{}

.pikaxo-index .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments a{
    color: #000;
}

.pikaxo-index .inner .card-outer .card-box 
.card-items .content .content-inner  p{
    padding: 10px 0px 10px 0px;
    box-sizing: var(--bxsz-bb);
    font-size: 15px;
    letter-spacing: 0.9px;
    color: #2a2a2a;
    text-align: justify;
}

.pikaxo-index .inner .card-outer .card-box 
.card-items .content .content-inner  p .read-more{
    background: linear-gradient(#5dc04a 0%,#4ac04f 100%);
    padding: 8px 10px 8px;
    border-radius: 26px;
    box-sizing: var(--bxsz-bb);
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    display: table;
    margin: 14px 0px 0px 0px;
}

.pikaxo-index .inner .card-outer .card-box 
.card-items .content .content-inner  p img{}

.pikaxo-index .inner .card-outer 
.card-box .card-items .content .content-inner  p img:nth-child(1){}
/* END INDEX PAGE */

/* BEGIN NO IMAGE */
.pikaxo-index  .inner .card-outer .card-box 
.card-items .img-box .user-no-img-items  {
    background: #a6a6a6;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 65px;
}

.pikaxo-index  .inner .card-outer .card-box 
.card-items .img-box .user-no-img-items .user-no-img-items-inner {
    
}

.pikaxo-single  .inner .card-outer .card-box .card-items .img-box .user-no-img-items {
    background: #a6a6a6;
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 65px;
}

.pikaxo-single  .inner .card-outer .card-box .card-items .img-box .user-no-img-items .user-no-img-items-inner {}


/* END NO IMAGE STYLE */


/* BEGIN SINGLE PAGE */

.pikaxo-single {
    padding-top: 24px
}

.pikaxo-single .inner{}

.pikaxo-single .inner .card-outer{}

.pikaxo-single .inner .card-outer .card-box{}

.pikaxo-single .inner .card-outer .card-box .card-items{
    margin-bottom: 30px;
    border: 1px solid #b4b4b4;
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,.1);
    background: #fefefe;
    border-radius: 5px;
}

.pikaxo-single .inner .card-outer .card-box .card-items .img-box{
    height: auto;
}

.pikaxo-single .inner .card-outer .card-box .card-items .img-box a{
    
}

.pikaxo-single .inner .card-outer .card-box .card-items .img-box a img{
    width: 80%;
    height: 100%;
    display: var(--dsply-blk);
    margin: 15px auto 20px;
}

.pikaxo-single .inner .card-outer .card-box .card-items .content {}

.pikaxo-single .inner .card-outer .card-box .card-items .tags{
    margin-bottom: 25px;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
}

.pikaxo-single .inner .card-outer .card-box .card-items .tags .taglist-results {}

.pikaxo-single .inner .card-outer .card-box .card-items .tags .taglist-results .taglist-items{
    display: inline-block;
}

.pikaxo-single .inner .card-outer .card-box .card-items .tags a{
    color: #353535;
    /* background: #9c9c9c; */
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 2px;
}

.pikaxo-single .inner .card-outer .card-box 
.card-items .content .content-inner {
    padding: 15px 30px;
    box-sizing: var(--bxsz-bb);
}

.pikaxo-single .inner .card-outer
.card-box .card-items .content .content-inner  h2{}

.pikaxo-single .inner .card-outer
.card-box .card-items .content .content-inner  h2 a{
    color: #000;
}

.pikaxo-single .inner .card-outer 
.card-box .card-items .content .content-inner  .meta{}

.pikaxo-single .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .date{}

.pikaxo-single .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author{}

.pikaxo-single .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author a{
    color: #000;
}

.pikaxo-single .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category{
    display: var(--dsply-ib);
}

.pikaxo-single .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category a{
    color: #000;
}

.pikaxo-single .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments{}

.pikaxo-single .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments a{
    color: #000;
}

.pikaxo-single .inner .card-outer .card-box 
.card-items .content .content-inner  p{
    padding: 10px 0px 10px 0px;
    box-sizing: var(--bxsz-bb);
    font-size: 15px;
    letter-spacing: 0.9px;
    color: #2a2a2a;
    text-align: justify;
}

.pikaxo-single .inner .card-outer .card-box 
.card-items .content .content-inner  p img{
    margin: 0px auto 20px;
}

.pikaxo-single .inner .card-outer 
.card-box .card-items .content .content-inner  p img:nth-child(1){}

/* END SINGLE  */


/* BEGIN SINGLE FULL WIDTH PAGE */

.pikaxo-single-full-width {
    padding-top: 0px
}

.pikaxo-single-full-width .inner{}

.pikaxo-single-full-width .inner .card-outer{}

.pikaxo-single-full-width .inner .card-outer .card-box{}

.pikaxo-single-full-width .inner .card-outer .card-box .wrap-comments-outer{
    width: 100%;
}

.pikaxo-single-full-width .inner .card-outer .card-box .wrap-comments{
    margin: 0px;
    border-radius: 0px;
    padding: 20px 40px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    background: #ffffff;
    box-sizing: border-box;
    border: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.1);
}

.pikaxo-single-full-width .inner .card-outer .card-box .card-items{
    background: #fefefe;
}

.pikaxo-single-full-width .inner .card-outer .card-box .card-items .img-box{
    height: auto;
}

.pikaxo-single-full-width .inner .card-outer .card-box .card-items .img-box a{
    
}

.pikaxo-single-full-width .inner .card-outer .card-box .card-items .img-box a img{
    width: 80%;
    height: 100%;
    display: var(--dsply-blk);
    margin: 15px auto 20px;
}

.pikaxo-single-full-width .inner .card-outer .card-box .card-items .content {}

.pikaxo-single-full-width .inner .card-outer .card-box .card-items .tags{
    margin-bottom: 25px;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
}

.pikaxo-single-full-width .inner .card-outer .card-box .card-items .tags .taglist-results {}

.pikaxo-single-full-width .inner .card-outer .card-box .card-items .tags .taglist-results .taglist-items{
    display: inline-block;
}

.pikaxo-single-full-width .inner .card-outer .card-box .card-items .tags a{
    color: #353535;
    /* background: #9c9c9c; */
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 2px;
}

.pikaxo-single-full-width .inner .card-outer .card-box 
.card-items .content .content-inner {
    box-sizing: var(--bxsz-bb);
}

.pikaxo-single-full-width .inner .card-outer
.card-box .card-items .content .content-inner  h2{
    padding: 10px 0px;
}

.pikaxo-single-full-width .inner .card-outer
.card-box .card-items .content .content-inner  h2 a{
    color: #000;
}

.pikaxo-single-full-width .inner .card-outer 
.card-box .card-items .content .content-inner  .meta{}

.pikaxo-single-full-width .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .date{}

.pikaxo-single-full-width .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author{}

.pikaxo-single-full-width .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author a{
    color: #000;
}

.pikaxo-single-full-width .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category{
    display: var(--dsply-ib);
}

.pikaxo-single-full-width .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category a{
    color: #000;
}

.pikaxo-single-full-width .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments{}

.pikaxo-single-full-width .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments a{
    color: #000;
}

.pikaxo-single-full-width .inner .card-outer .card-box 
.card-items .content .content-inner  p{
    padding: 10px 0px 10px 0px;
    box-sizing: var(--bxsz-bb);
    font-size: 15px;
    letter-spacing: 0.9px;
    color: #2a2a2a;
    text-align: justify;
}

.pikaxo-single-full-width .inner .card-outer .card-box 
.card-items .content .content-inner  p img{
    margin: 0px auto 20px;
}

.pikaxo-single-full-width .inner .card-outer 
.card-box .card-items .content .content-inner  p img:nth-child(1){}

/* END SINGLE FULL WIDTH  */


/* BEGIN SINGLE FULL WIDTH NO TITLE PAGE */

.pikaxo-single-full-width-no-title {
    padding-top: 0px
}

.pikaxo-single-full-width-no-title .inner{}

.pikaxo-single-full-width-no-title .inner .card-outer{}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box{}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box .wrap-comments-outer{
    width: 100%;
}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box .wrap-comments{
    margin: 0px;
    border-radius: 0px;
    padding: 20px 40px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    background: #ffffff;
    box-sizing: border-box;
    border: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.1);
}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box .card-items{
    background: #fefefe;
}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box .card-items .img-box{
    height: auto;
}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box .card-items .img-box a{
    
}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box .card-items .img-box a img{
    width: 80%;
    height: 100%;
    display: var(--dsply-blk);
    margin: 15px auto 20px;
}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box .card-items .content {}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box .card-items .tags{
    margin-bottom: 25px;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box .card-items .tags .taglist-results {}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box .card-items .tags .taglist-results .taglist-items{
    display: inline-block;
}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box .card-items .tags a{
    color: #353535;
    /* background: #9c9c9c; */
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 2px;
}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box 
.card-items .content .content-inner {
    box-sizing: var(--bxsz-bb);
}

.pikaxo-single-full-width-no-title .inner .card-outer
.card-box .card-items .content .content-inner  h2{
    padding: 10px 0px;
}

.pikaxo-single-full-width-no-title .inner .card-outer
.card-box .card-items .content .content-inner  h2 a{
    color: #000;
}

.pikaxo-single-full-width-no-title .inner .card-outer 
.card-box .card-items .content .content-inner  .meta{}

.pikaxo-single-full-width-no-title .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .date{}

.pikaxo-single-full-width-no-title .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author{}

.pikaxo-single-full-width-no-title .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author a{
    color: #000;
}

.pikaxo-single-full-width-no-title .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category{
    display: var(--dsply-ib);
}

.pikaxo-single-full-width-no-title .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category a{
    color: #000;
}

.pikaxo-single-full-width-no-title .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments{}

.pikaxo-single-full-width-no-title .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments a{
    color: #000;
}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box 
.card-items .content .content-inner  p{
    padding: 10px 0px 10px 0px;
    box-sizing: var(--bxsz-bb);
    font-size: 15px;
    letter-spacing: 0.9px;
    color: #2a2a2a;
    text-align: justify;
}

.pikaxo-single-full-width-no-title .inner .card-outer .card-box 
.card-items .content .content-inner  p img{
    margin: 0px auto 20px;
}

.pikaxo-single-full-width-no-title .inner .card-outer 
.card-box .card-items .content .content-inner  p img:nth-child(1){}

/* END SINGLE FULL WIDTH NO TITLE  */



/* BEGIN PIKAXO PAGE */

.pikaxo-page {
    padding-top: 24px
}

.pikaxo-page .inner{}

.pikaxo-page .inner .card-outer{}

.pikaxo-page .inner .card-outer .card-box{}

.pikaxo-page .inner .card-outer .card-box .card-items{
    margin-bottom: 30px;
    border: 1px solid #b4b4b4;
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,.1);
    background: #fefefe;
    border-radius: 5px;
}

.pikaxo-page .inner .card-outer .card-box .card-items .title{
    text-align: center;
    margin: 20px 0px;
    display: block !important;
}

.pikaxo-page .inner .card-outer .card-box .card-items .title a{
    color: #000;
}

.pikaxo-page .inner .card-outer .card-box .card-items .img-box{
    height: auto;
}

.pikaxo-page .inner .card-outer .card-box .card-items .img-box a{
    
}

.pikaxo-page .inner .card-outer .card-box .card-items .img-box a img{
    width: 80%;
    height: 100%;
    display: var(--dsply-blk);
    margin: 15px auto 20px;
}

.pikaxo-page .inner .card-outer .card-box .card-items .content {}

.pikaxo-page .inner .card-outer .card-box 
.card-items .content .content-inner {
    padding: 15px 30px;
    box-sizing: var(--bxsz-bb);
}

.pikaxo-page .inner .card-outer
.card-box .card-items .content .content-inner  h2{}

.pikaxo-page .inner .card-outer
.card-box .card-items .content .content-inner  h2 a{
    color: #000;
}

.pikaxo-page .inner .card-outer 
.card-box .card-items .content .content-inner  .meta{}

.pikaxo-page .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .date{}

.pikaxo-page .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author{}

.pikaxo-page .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author a{
    color: #000;
}

.pikaxo-page .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category{
    display: var(--dsply-ib);
}

.pikaxo-page .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category a{
    color: #000;
}

.pikaxo-page .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments{}

.pikaxo-page .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments a{
    color: #000;
}

.pikaxo-page .inner .card-outer .card-box 
.card-items .content .content-inner  p{
    padding: 10px 0px 10px 0px;
    box-sizing: var(--bxsz-bb);
    font-size: 15px;
    letter-spacing: 0.9px;
    color: #2a2a2a;
    text-align: justify;
}

.pikaxo-page .inner .card-outer .card-box 
.card-items .content .content-inner  p img{
    margin: 0px auto 7px;
}

.pikaxo-page .inner .card-outer 
.card-box .card-items .content .content-inner  p img:nth-child(1){}

/* END PIKAXO PAGE */


/* BEGIN PIKAXO PAGE NO SIDEBAR */
.page-no-sidebar {}

.page-no-sidebar .top-header{
    display: none;
}

.page-no-sidebar .pikaxo-page  {
    padding: 0px;
}

.page-no-sidebar .pikaxo-page  .inner{}

.page-no-sidebar .pikaxo-page  .inner .card-outer{}

.page-no-sidebar .pikaxo-page  .inner .card-outer .card-box{}

.page-no-sidebar .pikaxo-page  .inner .card-outer .card-box .card-items{
    margin-bottom: 0px !important;
    border: none !important;
    box-shadow: none !important;
    background: #fefefe;
    border-radius: 0px !important;
}

.page-no-sidebar .pikaxo-page  .inner .card-outer .card-box .card-items .title{
    text-align: center;
    margin: 20px 0px;
    display: block !important;
}

.page-no-sidebar .pikaxo-page  .inner .card-outer .card-box .card-items .title a{
    color: #000;
}

.page-no-sidebar .pikaxo-page  .inner .card-outer .card-box .card-items .img-box{
    height: auto;
}

.page-no-sidebar .pikaxo-page  .inner .card-outer .card-box .card-items .img-box a{
    
}

.page-no-sidebar .pikaxo-page  .inner .card-outer .card-box .card-items .img-box a img{
    width: 80%;
    height: 100%;
    display: var(--dsply-blk);
    margin: 15px auto 20px;
}

.page-no-sidebar .pikaxo-page  .inner .card-outer .card-box .card-items .content {}

.page-no-sidebar .pikaxo-page  .inner .card-outer .card-box 
.card-items .content .content-inner {
    padding: 0px !important;
    box-sizing: var(--bxsz-bb);
}

.page-no-sidebar .pikaxo-page  .inner .card-outer
.card-box .card-items .content .content-inner  h2{}

.page-no-sidebar .pikaxo-page  .inner .card-outer
.card-box .card-items .content .content-inner  h2 a{
    color: #000;
}

.page-no-sidebar .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta{}

.page-no-sidebar .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .date{}

.page-no-sidebar .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author{}

.page-no-sidebar .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author a{
    color: #000;
}

.page-no-sidebar .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category{
    display: var(--dsply-ib);
}

.page-no-sidebar .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category a{
    color: #000;
}

.page-no-sidebar .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments{}

.page-no-sidebar .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments a{
    color: #000;
}

.page-no-sidebar .pikaxo-page  .inner .card-outer .card-box 
.card-items .content .content-inner  .para{
    padding: 0px !important;
    box-sizing: var(--bxsz-bb);
    font-size: 15px;
    letter-spacing: 0.9px;
    color: #2a2a2a;
    text-align: justify;
}

.page-no-sidebar .pikaxo-page  .inner .card-outer .card-box 
.card-items .content .content-inner  p {
    padding: 0px;
}

.page-no-sidebar .pikaxo-page  .inner .card-outer .card-box 
.card-items .content .content-inner  p img{
    margin: 0px auto 7px;
}

.page-no-sidebar .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  p img:nth-child(1){}

/* END PIKAXO PAGE NO SIDEBAR */


/* BEGIN PIKAXO PAGE NO TITLE */
.page-no-title {}

.page-no-title .top-header{
    display: none;
}

.page-no-title .pikaxo-page  {
    padding: 0px;
}

.page-no-title .pikaxo-page  .inner{}

.page-no-title .pikaxo-page  .inner .card-outer{}

.page-no-title .pikaxo-page  .inner .card-outer .card-box{}

.page-no-title .pikaxo-page  .inner .card-outer .card-box .card-items{
    margin-bottom: 0px !important;
    border: none !important;
    box-shadow: none !important;
    background: #fefefe;
    border-radius: 0px !important;
}

.page-no-title .pikaxo-page  .inner .card-outer .card-box .card-items .title{
    text-align: center;
    margin: 20px 0px;
    display: none !important;
    font-style: italic;
    font-size: 40px;
    font-weight: 300;
}

.page-no-title .pikaxo-page  .inner .card-outer .card-box .card-items .title a{
    color: #000;
}

.page-no-title .pikaxo-page  .inner .card-outer .card-box .card-items .img-box{
    height: auto;
}

.page-no-title .pikaxo-page  .inner .card-outer .card-box .card-items .img-box a{
    
}

.page-no-title .pikaxo-page  .inner .card-outer .card-box .card-items .img-box a img{
    width: 80%;
    height: 100%;
    display: var(--dsply-blk);
    margin: 15px auto 20px;
}

.page-no-title .pikaxo-page  .inner .card-outer .card-box .card-items .content {}

.page-no-title .pikaxo-page  .inner .card-outer .card-box 
.card-items .content .content-inner {
    padding: 0px !important;
    box-sizing: var(--bxsz-bb);
}

.page-no-title .pikaxo-page  .inner .card-outer
.card-box .card-items .content .content-inner  h2{}

.page-no-title .pikaxo-page  .inner .card-outer
.card-box .card-items .content .content-inner  h2 a{
    color: #000;
}

.page-no-title .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta{}

.page-no-title .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .date{}

.page-no-title .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author{}

.page-no-title .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .author a{
    color: #000;
}

.page-no-title .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category{
    display: var(--dsply-ib);
}

.page-no-title .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .category a{
    color: #000;
}

.page-no-title .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments{}

.page-no-title .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  .meta .comments a{
    color: #000;
}

.page-no-title .pikaxo-page  .inner .card-outer .card-box 
.card-items .content .content-inner  .para{
    padding: 0px !important;
    box-sizing: var(--bxsz-bb);
    font-size: 15px;
    letter-spacing: 0.9px;
    color: #2a2a2a;
    text-align: justify;
}

.page-no-title .pikaxo-page  .inner .card-outer .card-box 
.card-items .content .content-inner  p {
    padding: 0px;
}

.page-no-title .pikaxo-page  .inner .card-outer .card-box 
.card-items .content .content-inner  p img{
    margin: 0px auto 7px;
}

.page-no-title .pikaxo-page  .inner .card-outer 
.card-box .card-items .content .content-inner  p img:nth-child(1){}

/* END PIKAXO PAGE NO TITLE */




/* BEGIN 404 ERROR STYLE */
.error-404 {
    background: #353535;
}    

.error-404 .inner {
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.error-404 .error{}
        
.error-404 .error .error-inner{}
        
.error-404 .error .error-inner .error-items{}   
        
.error-404 .error .error-inner .error-items h1{
    font-size: 128px;
    margin-top: -9px;
    line-height: 100px;
    color: #fff;
} 
        
.error-404 .error .error-inner .error-items .not-found{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0;
    color: #fff;
} 
        
.error-404 .error .error-inner .error-items .btn{} 
        
.error-404 .error .error-inner .error-items .btn a{
    background: linear-gradient(#5dc04a 0%,#4ac04f 100%);
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    line-height: 50px;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
}     

/* END 404 ERROR STYLE */



/* BEGIN COMMENTS STYLE */
.wrap-comments  {
    margin: 30px 0px 30px;
    border-radius: 5px;
    padding: 20px 40px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #b4b4b4;
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,.1);
}

.wrap-comments .comments-title{
    margin-bottom: 20px;  
}

.wrap-comments .comments-title{
    margin-bottom: 20px;  
}

.wrap-comments .comment-list{
    list-style: none;
}

.wrap-comments .comment-list .comment{
      
}

.wrap-comments .comment-list .comment .comment-body{
      
}

.wrap-comments .comment-list .comment .comment-body .comment-author{
      
}

.wrap-comments .comment-list .comment .comment-body .comment-author .avatar{
    max-width: 64px;
    max-height: 64px;
    height: 64px;
    width: 64px;
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.wrap-comments .comment-list .comment .comment-body .comment-author .fn{
      
}

.wrap-comments .comment-list .comment .comment-body .comment-author .says{
      display: none;
}

.wrap-comments .comment-list .comment .comment-body .comment-meta{
      
}

.wrap-comments .comment-list .comment .comment-body .comment-meta a{
      
}

.wrap-comments .comment-list .comment .comment-body .comment-meta a:nth-child(1){
      color: #23235f;
}

.wrap-comments .comment-list .comment .comment-body .comment-meta .comment-edit-link{
      color: #23235f;
}

.wrap-comments .comment-list .comment .comment-body p{
    display: flex;
    line-height: 23px;
    font-size: 17px;
    font-weight: 300;
    margin: 10px 0px 10px 0px;
}

.wrap-comments .comment-list .comment .comment-body .reply{
      text-align: right;
}

.wrap-comments .comment-list .comment .comment-body .reply .comment-reply-link{
    color: #fff;
    background-color: blue;
    display: inline-block;
    margin: 20px 0px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
    background: linear-gradient(#5dc04a 0%,#4ac04f 100%);
    font-weight: 600;
    letter-spacing: 0.7px;
}

.wrap-comments .comment-list .comment .children{
    box-sizing: border-box;
    padding: 0px 0px 0px 90px;
    margin: 0px 0px 20px 0px; 
}

.wrap-comments .comment-list .comment .children .comment{
      
}

.wrap-comments .comment-list .comment .children .comment .comment-body{
      
}

.wrap-comments .comment-respond {
    
}

.wrap-comments .comment-respond .comment-reply-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.wrap-comments .comment-respond .comment-reply-title small{}

.wrap-comments .comment-respond .comment-reply-title small a{}

.wrap-comments .comment-respond .comment-form {}

.wrap-comments .comment-respond .comment-form p{

}

.wrap-comments .comment-respond .comment-form .logged-in-as{
    color: #505050;
}

.wrap-comments .comment-respond .comment-form .logged-in-as a{
    color: #2d93de;
}

.wrap-comments .comment-respond .comment-form .logged-in-as a:nth-child(1){

}

.wrap-comments .comment-respond .comment-form .logged-in-as a:nth-child(2){

}

.wrap-comments .comment-respond .comment-form p label{}

.wrap-comments .comment-respond .comment-form p label .required{
    color: #f50707;
    font-weight: 800;
    text-decoration: none;
}

.wrap-comments .comment-respond .comment-form p input{
    box-sizing: border-box;
    padding: 5px 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5) inset;
    border: 0.8px solid #e0e0e0;
    background-color: #fdfdfd;
    border-radius: 2px;
}

.wrap-comments .comment-respond .comment-form p textarea{
    box-sizing: border-box;
    padding: 10px 10px;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,.5) inset;
    border: 0.8px solid #e0e0e0;
    background-color: #fdfdfd;
    border-radius: 2px;
    font-size: 16px;
}
.wrap-comments .comment-respond .comment-form .comment-notes {
    margin: 0px;
    display: none;
}

.wrap-comments .comment-respond .comment-form .comment-form-comment{
    margin-top: 20px;
}

.wrap-comments .comment-respond .comment-form .comment-form-comment #email-notes{}

.wrap-comments .comment-respond .comment-form .comment-form-comment .required{
    text-decoration: none;
}

.wrap-comments .comment-respond .comment-form .comment-form-comment label{
    font-weight: 700;
    font-size: 17px;
    color: #505050;
}

.wrap-comments .comment-respond .comment-form .comment-form-comment textarea{
    width: 100%;
    resize: none;
    outline: none;
}

.wrap-comments .comment-respond .comment-form .comment-form-author{
    margin-top: 20px;
}

.wrap-comments .comment-respond .comment-form .comment-form-author label{
    font-weight: 700;
    font-size: 17px;
    color: #505050;
}

.wrap-comments .comment-respond .comment-form .comment-form-author label span{}

.wrap-comments .comment-respond .comment-form .comment-form-author #author{
    width: 100%;
    outline: none;
}

.wrap-comments .comment-respond .comment-form .comment-form-email{
    margin-top: 20px;
}

.wrap-comments .comment-respond .comment-form .comment-form-email label{
    font-weight: 700;
    font-size: 17px;
    color: #505050;
}

.wrap-comments .comment-respond .comment-form .comment-form-email label span{}

.wrap-comments .comment-respond .comment-form .comment-form-email #email{
    width: 100%;
    outline: none;
}

.wrap-comments .comment-respond .comment-form .comment-form-url{
    margin-top: 20px;
}

.wrap-comments .comment-respond .comment-form .comment-form-url label{
    font-weight: 700;
    font-size: 17px;
    color: #505050;
}

.wrap-comments .comment-respond .comment-form .comment-form-url #url{
    width: 100%;
    outline: none;
}

.wrap-comments .comment-respond .comment-form .form-submit{
    margin: 20px 0px;
    text-align: right;
}

.wrap-comments .comment-respond .comment-form .form-submit .submit{
    border-color: #181819;
    background: linear-gradient(#5dc04a 0%,#4ac04f 100%);
    color: #fff !important;
    padding: 13px 14px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 3px;
    font-weight: 800;
    text-decoration: none;
    box-shadow: rgba(255,255,255,0.6) 0 1px 0 inset;
    outline: none;
}
/* END COMMENTS STYLE */




/* BEGIN SIDEBAR PAGE */
.sidebar {}

.sidebar .sidebar-inner{}

.sidebar .sidebar-inner .sidebar-items{
    border: 1px solid #b4b4b4;
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,.1);
    margin-bottom: 30px;
    background: #fefefe;
    border-radius: 5px;
    box-sizing: var(--bxsz-bb);
}

.sidebar .sidebar-inner .sidebar-items h2{
    text-align: center;
    box-sizing: var(--bxsz-bb);
    padding: 10px 10px;
    background: linear-gradient(#5dc04a 0%,#4ac04f 100%);
    color: #fff;
    letter-spacing: 0.3px;
    font-size: 17px;
    font-weight: 600;
}

.sidebar .sidebar-inner .sidebar-items ul{}

.sidebar .sidebar-inner .sidebar-items ul li{
    box-sizing: var(--bxsz-bb);
    padding: 15px 10px;
    border-bottom: 1px solid #cdcdcd;
}

.sidebar .sidebar-inner .sidebar-items ul li:last-child{
    border-bottom: none;
}

.sidebar .sidebar-inner .sidebar-items ul li a{
    color: #2a2a2a;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.sidebar .sidebar-inner .sidebar-items .searchform{}

.sidebar .sidebar-inner .sidebar-items .searchform div{
    display: var(--dsply-fl);
    justify-content: center;
    padding: 10px 10px;
}

.sidebar .sidebar-inner .sidebar-items .searchform div .screen-reader-text{
    display: none;
}

.sidebar .sidebar-inner .sidebar-items .searchform div #s{
    box-sizing: var(--bxsz-bb);
    padding: 7px 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5) inset;
    border: 0.1px solid #e0e0e0;
    background-color: #fdfdfd;
    border-radius: 2px;
    outline: none;
}

.sidebar .sidebar-inner .sidebar-items .searchform div #searchsubmit{
    color: #fff;
    background: linear-gradient(#5dc04a 0%,#4ac04f 100%);
    display: inline-block;
    padding: 7px 15px;
    border: 0px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 0.7px;
    cursor: pointer;
    outline: none;
}

.sidebar .sidebar-inner .sidebar-items #recentcomments{}

.sidebar .sidebar-inner .sidebar-items #recentcomments .recentcomments{}

.sidebar .sidebar-inner .sidebar-items 
#recentcomments .recentcomments .comment-author-link{}

.sidebar .sidebar-inner .sidebar-items 
#recentcomments .recentcomments .comment-author-link .url{}

.sidebar .sidebar-inner .sidebar-items 
#recentcomments .recentcomments a{}

.sidebar .sidebar-inner .sidebar-items 
#recentcomments .recentcomments a:hover{}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap {

}


.sidebar .sidebar-inner .sidebar-items .calendar_wrap {

}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table{
    width: var(--wid-100);
}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table caption{
    text-align: center;
    box-sizing: var(--bxsz-bb);
    padding: 10px 10px;
    background: linear-gradient(#5dc04a 0%,#4ac04f 100%);
    color: #fff;
    letter-spacing: 0.3px;
    font-size: 17px;
    font-weight: 600;
}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table thead{
    padding: 0px 20px;
}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table thead tr{

}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table thead tr th{

}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table tbody{
    padding: 0px 20px;
}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table tbody tr{

}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table tbody tr td{
    text-align: center;
}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table tbody tr td a{
    color: #353535;
}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table tfoot{
    padding: 0px 20px;
}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table tfoot tr{

}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table tfoot tr td{

}

.sidebar .sidebar-inner .sidebar-items .calendar_wrap table tfoot tr td a{
    color: #353535;
}

.sidebar .sidebar-inner .sidebar-items .tagcloud{
    margin: 20px 0px;
    padding: 0px 20px;
}

.sidebar .sidebar-inner .sidebar-items .tagcloud a{
    color: #353535;
    padding: 5px 10px;
    box-sizing: var(--bxsz-bb);
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 0px 10px 10px 0px;
    display: inline-block;
}


.sidebar .sidebar-inner .sidebar-items .textwidget{
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1px;
    padding: 20px;
}

.sidebar .sidebar-inner .sidebar-items .textwidget a{}

.sidebar .sidebar-inner .sidebar-items .textwidget p{
    color: #000;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.sidebar .sidebar-inner .sidebar-items .textwidget p a{
    color: #000;
    text-decoration: underline;
}

.sidebar .sidebar-inner .sidebar-items .textwidget p a i{}

.sidebar .sidebar-inner .sidebar-items .gallery{}

.sidebar .sidebar-inner .sidebar-items .gallery .gallery-item{
    margin: 0px !important;
}

.sidebar .sidebar-inner .sidebar-items .gallery .gallery-item .gallery-icon{
    margin: 1px;
}

.sidebar .sidebar-inner .sidebar-items .gallery .gallery-item .gallery-icon a{}

.sidebar .sidebar-inner .sidebar-items .gallery .gallery-item .gallery-icon a img{
    width: var(--wid-100);
    display: var(--dsply-blk);
    border: 0px !important;
    height: 95px;
}


/* END SIDEBAR PAGE */


/***** BEGIN PAGINATION *****/
.pagination {
    text-align: center;
    margin: 50px 0px;
}


.pagination .screen-reader-text{
    display: none;
}


.pagination .current {
    background: linear-gradient(#eaeaea 0%,#b5b5b5 100%);
    color: #313030;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 2px;
    margin: 0px 4px;
    border: 1px solid #5dc04a;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.pagination a {
    color: #e6e6e6;
}

.page-numbers {
    background: linear-gradient(#5dc04a 0%,#4ac04f 100%);
    color: #e6e6e6;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 900;
    margin: 0px 4px;
    box-shadow: 0px 1px 2px 1px #8a8a8a;
}
/***** END PAGINATION *****/



/* BEGIN FOOTER STYLE */
.footer-3-col { 
    background: #1d2733; 
    background: linear-gradient(#5dc04a 0%,#4ac04f 100%);
    color: #fdfdfd;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,.6);
    padding-top: 25px;
}   
        
.footer-3-col  .inner{} 
        
.footer-3-col  .inner .footer{}
        
.footer-3-col  .inner .footer .footer-inner{
    margin-right: 20px;
    margin-top: 30px;
}
        
.footer-3-col  .inner .footer .footer-inner .footer-items{
    
}
        
.footer-3-col  .inner .footer .footer-inner .footer-items .site-info-inner{
    padding: 20px 0px;
    box-sizing: var(--bxsz-bb);
    color: #353535;
}
        
.footer-3-col  .inner .footer .footer-inner .footer-items .site-info-inner a{
    color: #fdfdfd;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap {
    color: #353535;
}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table{
    width: var(--wid-100);
}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table caption{
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
    text-align: left;
}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table thead{

}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table thead tr{

}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table thead tr th{
    text-align: center;
}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table tbody{

}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table tbody tr{

}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table tbody tr td{
    text-align: center;
}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table tbody tr td a{
    color: #fdfdfd;
}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table tfoot{

}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table tfoot tr{

}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table tfoot tr td{

}

.footer-3-col  .inner .footer .footer-inner .footer-items .calendar_wrap table tfoot tr td a{
    color: #fdfdfd;
}

.footer-3-col .inner .footer .footer-inner .footer-items li{}

.footer-3-col .inner .footer .footer-inner .footer-items li .tagcloud{
    margin: 20px 0px;
}

.footer-3-col .inner .footer .footer-inner .footer-items li .tagcloud a{
    color: #fdfdfd;
    padding: 5px 10px;
    box-sizing: var(--bxsz-bb);
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 0px 10px 10px 0px;
    display: inline-block;
}


.footer-3-col .inner .footer .footer-inner .footer-items li .searchform {}

.footer-3-col .inner .footer .footer-inner .footer-items li .searchform div {
    text-align: center;
}

.footer-3-col .inner .footer .footer-inner .footer-items li .searchform div .screen-reader-text {
    display: none;
}

.footer-3-col .inner .footer .footer-inner .footer-items li .searchform div #s {
    box-sizing: var(--bxsz-bb);
    padding: 7px 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5) inset;
    border: 0.1px solid #e0e0e0;
    background-color: #fdfdfd;
    border-radius: 2px;
    outline: none;
}

.footer-3-col .inner .footer .footer-inner .footer-items li .searchform div #searchsubmit {
    color: #fff;
    background-color: blue;
    display: inline-block;
    /* margin: 20px 0px; */
    padding: 7px 15px;
    border: 0px solid #ccc;
    box-sizing: var(--bxsz-bb);
    border-radius: 3px;
    background: linear-gradient(#3d4d7c 0%,#324680 100%);
    font-weight: 600;
    letter-spacing: 0.7px;
    cursor: pointer;
    outline: none;
}


.footer-3-col .inner .footer .footer-inner .footer-items li #recentcomments {}

.footer-3-col .inner .footer .footer-inner .footer-items li #recentcomments .recentcomments{
    list-style: none;
    padding-bottom: 10px;
    color: #fdfdfd;
}

.footer-3-col .inner .footer .footer-inner .footer-items li #recentcomments .recentcomments .comment-author-link{
    color: #fdfdfd;
    font-size: 17px;
    font-weight: 700;
}
    
.footer-3-col .inner .footer .footer-inner .footer-items li #recentcomments .recentcomments a{
    color: #fdfdfd;
    transition: .5s;
}    

.footer-3-col .inner .footer .footer-inner .footer-items li #recentcomments .recentcomments a:hover{
    color: #cc2b4f;
}


.footer-3-col  .inner .footer .footer-inner .footer-items li{
    margin-bottom: 30px;
}

.footer-3-col  .inner .footer .footer-inner .footer-items li .custom-html-widget{
    color: #fdfdfd;
    padding: 10px 0px;
    line-height: 28px;
}

.footer-3-col  .inner .footer .footer-inner .footer-items li .custom-html-widget a{
    color: #fdfdfd;
}

.footer-3-col  .inner .footer .footer-inner .footer-items li .custom-html-widget p{
    color: #fdfdfd;
    margin: 10px 0px;
}

.footer-3-col  .inner .footer .footer-inner .footer-items li .gallery{}

.footer-3-col  .inner .footer .footer-inner .footer-items li .gallery .gallery-item{
    margin: 0px !important;
}

.footer-3-col  .inner .footer .footer-inner .footer-items li .gallery .gallery-item .gallery-icon{
    margin: 1px;
}

.footer-3-col  .inner .footer .footer-inner .footer-items li .gallery .gallery-item .gallery-icon a{}

.footer-3-col  .inner .footer .footer-inner .footer-items li .gallery .gallery-item .gallery-icon a img{
    width: var(--wid-100);
    display: var(--dsply-blk);
    border: 0px !important;
    height: 95px;
}
         
.footer-3-col  .inner .footer .footer-inner .footer-items li h2{
    color: #fdfdfd;
    margin-bottom: 10px;
}
        
.footer-3-col  .inner .footer .footer-inner .footer-items li ul li{
    margin: 0px;
}
       
.footer-3-col  .inner .footer .footer-inner .footer-items li ul {
    
}
         
.footer-3-col  .inner .footer .footer-inner .footer-items li ul li a{
    color: #fdfdfd;
    display: var(--dsply-blk);
    padding: 0px 0px;
    letter-spacing: 0.8px;
    font-size: 15px;
    line-height: 35px;
}

.footer-3-col .inner .footer .footer-inner .footer-items li .textwidget{
    margin-top: 20px;
}

.footer-3-col .inner .footer .footer-inner .footer-items li .textwidget a{}

.footer-3-col .inner .footer .footer-inner .footer-items li .textwidget p{
    color: #fdfdfd;
}

.footer-3-col .inner .footer .footer-inner .footer-items li .textwidget p a{
    color: #fdfdfd;
    text-decoration: underline;
}

.footer-3-col .inner .footer .footer-inner .footer-items li .textwidget p a i{}

.footer-3-col  .inner .footer .footer-inner .footer-items li a{
    
}

           
.footer-3-col  .inner .footer .footer-inner .footer-items img{
    
}
    
/* END FOOTER STYLE */


/* BEGIN EDD STYLE */

.pikaxo-edd-page {}

.pikaxo-edd-page .inner .card-outer .card-box 
.card-items .content  {}

.pikaxo-edd-page .inner .card-outer .card-box 
.card-items .content .content-inner {}

.pikaxo-edd-page .inner .card-outer .card-box 
.card-items .content .content-inner #edd_checkout_wrap{
    padding: 20px;
    box-sizing: border-box;
}

.pikaxo-edd-page .inner .card-outer .card-box 
.card-items .content 
.content-inner #edd_checkout_wrap .edd_empty_cart{}
/* END EDD STYLE */

/* BEGIN WOOCOMMERCE STYLE */
.added_to_cart {
    padding: 13px 11px;
    box-sizing: border-box;
    border-radius: 3px;
    background: linear-gradient(#26ea51 0%,#1cb937 100%);
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #fff;
    margin: 20px auto;
    width: 30%;
    display: block;
}

.pikaxo-woocommerce-index {}

.pikaxo-woocommerce-index .inner {}

.pikaxo-woocommerce-index .inner .card-outer {}

.pikaxo-woocommerce-index .inner .card-outer .card-box {
    margin-bottom: 20px;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product {
    border: 1px solid #b4b4b4;
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,.1);
    background: #fefefe;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .onsale{
    display: none;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery{
    width: 40%;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper 
.woocommerce-product-gallery__image{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper 
.woocommerce-product-gallery__image a{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper 
.woocommerce-product-gallery__image a .wp-post-image{}


.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper 
.woocommerce-product-gallery__image:nth-child(1){}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper 
.woocommerce-product-gallery__image:nth-child(1) a{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper 
.woocommerce-product-gallery__image:nth-child(1) a img{}


.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper 
.woocommerce-product-gallery__image:nth-child(2){}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper 
.woocommerce-product-gallery__image:nth-child(2) a{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper 
.woocommerce-product-gallery__image:nth-child(2) a img{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper 
.woocommerce-product-gallery__image:nth-child(3){}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper 
.woocommerce-product-gallery__image:nth-child(3) a{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-product-gallery__wrapper 
.woocommerce-product-gallery__image:nth-child(3) a img{}


.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary{
    width: 59%;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .entry-title{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .price{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .price del{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .price del .amount{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .price del .amount 
.woocommerce-Price-currencySymbol{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .price ins{
    text-decoration: none;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .price ins .amount{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .price ins .amount 
.woocommerce-Price-currencySymbol{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description{

}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
p:nth-child(1){
    margin-bottom: 15px;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
p:nth-child(1) img{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
.mejs-offscreen {}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
.mejs-offscreen .mejs-container{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
.mejs-offscreen .mejs-container .mejs-inner{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
.mejs-offscreen 
.mejs-container .mejs-inner .mejs-mediaelement{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
.mejs-offscreen 
.mejs-container .mejs-inner .mejs-mediaelement
.wp-audio-shortcode{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
.mejs-offscreen 
.mejs-container .mejs-inner .mejs-mediaelement
.wp-audio-shortcode source{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
.mejs-offscreen 
.mejs-container .mejs-inner .mejs-mediaelement
.wp-audio-shortcode a{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
.mejs-offscreen 
.mejs-container .mejs-inner .mejs-layers{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
.mejs-offscreen 
.mejs-container .mejs-inner .mejs-layers .mejs-poster{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
.mejs-offscreen 
.mejs-container .mejs-inner .mejs-controls{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
p:nth-child(2){
    font-weight: 100;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.2px;
    margin-bottom: 15px;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary 
.woocommerce-product-details__short-description 
p:nth-child(3){
    font-weight: 100;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.2px;
    margin-bottom: 15px;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .cart{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .cart .quantity{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .cart .quantity .screen-reader-text{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .cart .quantity .text{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .cart .button{
    background: #4bc04e;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .product_meta{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .product_meta .posted_in{
    display: block;
    margin-bottom: 40px;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .product_meta .posted_in a{
    color: #303030;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,.5);
    padding: 10px;
    border-radius: 2px;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .product_meta .tagged_as{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .summary .product_meta .tagged_as a{
    color: #303030;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,.5);
    padding: 10px;
    border-radius: 2px;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs {}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs .tabs{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--description{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--description h2{
    padding: 0px 25px;
    margin-bottom: 15px;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--description p{
    font-weight: 100;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1.2px;
    margin-bottom: 15px;    
    padding: 0px 25px;
    box-sizing: border-box;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--description p img{
    display: inline-block;
    margin-left: 40px;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs .woocommerce-Tabs-panel--reviews{
    padding: 0px 25px;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#comments{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#comments .woocommerce-Reviews-title{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#comments .woocommerce-noreviews{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-reply-title{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-reply-title small{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-reply-title small a{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-form{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-form .comment-form-rating{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-form .comment-form-rating label{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-form .comment-form-rating .stars{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-form .comment-form-rating .stars span{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-form .comment-form-rating .stars span a{
    color: #ffbf00;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-form .comment-form-comment {}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-form .comment-form-comment label{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-form .comment-form-comment label .required{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-form .comment-form-comment #comment{
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
    width: 100% !important;
    resize: none;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-form .form-submit {}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs 
.woocommerce-Tabs-panel--reviews .woocommerce-Reviews
#review_form_wrapper #review_form .comment-respond
.comment-form .form-submit .submit{
    background: #4cc04e;
    color: #fff;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs .tabs .active{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs .tabs .reviews_tab{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs .tabs .reviews_tab a{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs .tabs .description_tab{
    margin-right: 24px;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs .tabs .description_tab a{}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs .tabs li{
    background: #57c04b;
    color: #fff;
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs .tabs li a{
    
}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs .wc-tab:nth-child(1){}

.pikaxo-woocommerce-index .inner .card-outer .card-box 
.product .woocommerce-tabs .wc-tab:nth-child(2){}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .page-title {
    width: 100%;
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .woocommerce-result-count {}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .woocommerce-ordering {}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .woocommerce-ordering .orderby{}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .woocommerce-ordering .orderby option{}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related {
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related h2{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related h2:nth-child(1){
    padding: 0px 25px;
    margin-bottom: 15px;
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a:nth-child(1){
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a:nth-child(1) .onsale{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a:nth-child(1) 
.wp-post-image{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a:nth-child(1) 
h2{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a:nth-child(1) 
.price{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a:nth-child(1) 
.price del{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a:nth-child(1) 
.price del .amount {
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a:nth-child(1) 
.price del .amount .woocommerce-Price-currencySymbol{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a:nth-child(1) 
.price ins{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a:nth-child(1) 
.price ins .amount{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a:nth-child(1) 
.price ins .amount .woocommerce-Price-currencySymbol{
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .related .products .product a:nth-child(2){
    
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product{
    width: 49%;
    border: 1px solid #b4b4b4;
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,.1);
    margin: 0px 0px 20px 0px;
    box-sizing: border-box;
    background: #fefefe;
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product .woocommerce-loop-product__link{
    color: #000;
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product 
.woocommerce-loop-product__link .onsale{
    display: none;
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product 
.woocommerce-loop-product__link .wp-post-image{
    height: 350px;
    display: block;
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product 
.woocommerce-loop-product__link .woocommerce-loop-product__title {
    text-align: center;
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product 
.woocommerce-loop-product__link 
.price {
    text-align: center;
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product 
.woocommerce-loop-product__link 
.price del{
    display: none;
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product 
.woocommerce-loop-product__link 
.price del .amount{}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product 
.woocommerce-loop-product__link 
.price del .amount .woocommerce-Price-currencySymbol{}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product 
.woocommerce-loop-product__link 
.price ins{
    text-decoration: none;
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product 
.woocommerce-loop-product__link 
.price ins .amount{
    color: #ad1212;
}

.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product 
.woocommerce-loop-product__link 
.price ins .amount .woocommerce-Price-currencySymbol{}


.pikaxo-woocommerce-index .inner .card-outer 
.card-box .products .product 
.button {
    margin: 0px 0px 20px 132px;
    background: #54c04c;
    color: #fff;
    border-radius: 4px;
}


/* BEGIN WOOCOMMERCE PAGE */
.pikaxo-woocommerce-page {}

.pikaxo-woocommerce-page .inner {}

.pikaxo-woocommerce-page .inner .card-outer {}

.pikaxo-woocommerce-page .inner .card-outer .card-box {}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items {}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .title {}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content {}

/* WOOCOMMERCE LOGIN  */

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .content .content-inner .woocommerce > h2{
    text-align: center;
    margin-top: 20px;
}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .content .content-inner .woocommerce .woocommerce-form{}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .content .content-inner .woocommerce .woocommerce-form .woocommerce-form-row{}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .content .content-inner .woocommerce .woocommerce-form .woocommerce-form-row label{}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .content .content-inner .woocommerce .woocommerce-form .woocommerce-form-row label .required{}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .content .content-inner .woocommerce .woocommerce-form .form-row{}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .content .content-inner .woocommerce .woocommerce-form .woocommerce-LostPassword{}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .content .content-inner .woocommerce .woocommerce-form .woocommerce-LostPassword a{}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .content .content-inner .woocommerce .woocommerce-form .woocommerce-form-row .woocommerce-Input{
    box-sizing: var(--bxsz-bb);
    padding: 7px 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5) inset;
    border: 0.1px solid #e0e0e0;
    background-color: #fdfdfd;
    border-radius: 2px;
    outline: none;
}

/* END WOOCOMMERCE LOGIN */

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .title{
    display: none;
}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .title a{
    
}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .content .content-inner p{
    padding: 15px 35px 20px 35px;
}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .content .content-inner p:first-child{
    padding: 0px 20px;
}

.pikaxo-woocommerce-page .inner .card-outer .card-box .card-items .content .content-inner 
.woocommerce .woocommerce-form .woocommerce-form-row:nth-child(2){
    padding: 0px 20px;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner{
    padding: 0px;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce{}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-info{
    border: none;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .cart-empty{
    padding: 20px 35px 15px;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .return-to-shop{
    padding: 0px 35px;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .return-to-shop .button{
    background: #52c04c;
    color: #fff;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-navigation{
    width: 100%;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-navigation ul{
    border-top: 1px solid #55c04c;
    border-bottom: 1px solid #55c04c;
    background: #55c04c;
    margin-bottom: 20px;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-navigation ul 
.is-active{
    background: #47a040;
    border-top: 3px solid #55c04c;
    border-bottom: 3px solid #55c04c;
    box-sizing: border-box;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-navigation ul li{
    display: inline-block;
    padding: 10px;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-navigation ul li a{
    color: #fff;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content{
    width: 100%;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content .addresses{
    
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.addresses .woocommerce-Address{
    color: #000;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.addresses .col-1{
    width: 100%;
    color: #000;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.addresses .col-2{
    width: 100%;
    color: #000;
    padding: 20px;
    box-sizing: border-box;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.addresses .woocommerce-Address {
    
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.addresses .woocommerce-Address 
.woocommerce-Address-title{
    
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.addresses .woocommerce-Address 
.woocommerce-Address-title h3{
    
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.addresses .woocommerce-Address 
.woocommerce-Address-title .edit{
    background: #54c04c;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.addresses .woocommerce-Address 
.woocommerce-Address-title address{
    
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content p:nth-child(1){
    padding: 0px 35px !important;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce 
.woocommerce-MyAccount-content p:nth-child(1) strong{}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce 
.woocommerce-MyAccount-content p:nth-child(1) a{}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce 
.woocommerce-MyAccount-content p:nth-child(2){
    padding: 0px 35px;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce 
.woocommerce-MyAccount-content p:nth-child(2) a{
    color: #000;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-message{}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-message--info{
    border: none;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-Message--info{
    border: none;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-Message--info:before{
    background: #55c04c;
    color: #fff;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-Message--info .button{
    background: #55c04c;
    color: #fff;
}

.woocommerce-info::before {
    background: #55c04c;
    color: #fff;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-message--info .button{
    background: linear-gradient(#5dc04a 0%,#4ac04f 100%);
    color: #fff;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm {
    padding: 0px 35px;
    box-sizing: border-box;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm 
.woocommerce-form-row {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 0px;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm 
.woocommerce-form-row label{}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm 
.woocommerce-form-row label .required{}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm 
.woocommerce-form-row span{}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm 
.woocommerce-form-row span em{}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm 
.woocommerce-form-row .input-text{
    box-sizing: border-box;
    padding: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #000;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm 
.woocommerce-form-row--first {
    padding: 0px !important;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm 
.woocommerce-form-row--last {}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm 
.woocommerce-form-row--wide {}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm 
.woocommerce-form-row--wide:nth-child(1) {}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm 
.woocommerce-form-row--wide:nth-child(2) {}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm fieldset {}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm fieldset legend{}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm fieldset 
.woocommerce-form-row{}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm fieldset 
.woocommerce-form-row label{}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm fieldset 
.woocommerce-form-row .input-text{
    box-sizing: border-box;
    padding: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #000;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm p {}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm p:last-child{
    padding-left: 0px;
}

.pikaxo-woocommerce-page .inner .card-outer 
.card-box .card-items .content .content-inner 
.woocommerce .woocommerce-MyAccount-content 
.woocommerce-EditAccountForm p:last-child 
.button{
    color: #fff;
    background: #56c04b;
    border-radius: 4px;
}


/* END WOOCOMMERCE STYLE */








/* BEGIN MOBILE SCREEN STYLE */
		
@media screen and (max-width: 767px)
{
	
    .mobwid-100 { width: var(--wid-100); }

	.mobwid {
		width: 100%;
	}

    
    .pikaxo-woocommerce-index .inner .card-outer 
    .card-box .products .product{
        width: 100%;
    }
    .pikaxo-woocommerce-index .inner .card-outer 
    .card-box .product .woocommerce-product-gallery {
        width: 63%;
        display: block;
        margin: 20px 5px;
    }

     .pikaxo-woocommerce-index .inner .card-outer 
     .card-box .products .product 
     .button {
        margin: 0px 0px 20px 50px;
    }

    .single-product .pikaxo-woocommerce-index .inner .card-outer 
     .card-box .products .product .button {
        margin: 0px 0px 20px 18px;
    }

    .pikaxo-woocommerce-index .inner .card-outer 
    .card-box .product .summary {
        width: 100%;
    }

    .pikaxo-woocommerce-index .inner .card-outer .card-box .product{
        margin-bottom: 30px;
        padding: 0px 25px;
    }

    .pikaxo-woocommerce-page .inner .card-outer .card-box 
    .card-items .content .content-inner 
    .woocommerce .woocommerce-MyAccount-navigation ul li{
        width: 100%;
        padding: 0px;
    }

    .pikaxo-woocommerce-page .inner .card-outer .card-box 
    .card-items .content .content-inner 
    .woocommerce .woocommerce-MyAccount-navigation ul li a{
        text-align: center;
        padding: 10px 0px;
        display: block;
    }

    .pikaxo-woocommerce-index .inner .card-outer .card-box 
    .product .woocommerce-tabs 
    .woocommerce-Tabs-panel--description p {
        padding: 0px 0px;
    }





    .footer-3-col  .inner .footer .footer-inner{
        margin-right: 0px;
    }
     


    .footer-3-col .inner .footer .footer-inner .footer-items li .gallery .gallery-item .gallery-icon a img{
        height: 125px;
    }

    .footer-3-col .inner .footer .footer-inner .footer-items .calendar_wrap table caption {
        text-align: center;
    }

    .footer-3-col  .inner{
        text-align: center;
    } 

    
	
}
		
/* END MOBILE SCREEN STYLE */