/*!
Theme Name: Agency Plus
Theme URI: https://ithemer.com/themes/agency-plus/
Author: WP Concern
Author URI: https://ithemer.com/
Description: Agency Plus is a secure, speed optimized and fully customizable multi-purpose WordPress theme. It works perfectly with Gutenberg, Elementor, Beaver Builder, Brizy, KingComposer and most of the page builder plugins. Agency Plus is the perfect theme for agency, blogs, small business, startups, portfolio, law firm, university, school, college, medical and WooCommerce storefront with a beautiful & professional design.
Version: 1.0.5
Requires PHP: 7.2
Tested up to: 5.5.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: agency-plus
Tags: blog, education, e-commerce

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Agency Plus is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.625;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    color: #404040;;
    font-weight: 400;
    font-family: 'Lora', serif;
    line-height: 1.2;
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 25px;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 18px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 18px;
    font-size: 0.9375rem;
}

code {
    padding: 2px 4px;
    font-family: monospace, monospace;
    font-size: 1em;
    background-color: #fbfbfb;
    border-radius: 4px;
    border: 1px solid #eee;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 0.5em 1.2em;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1.5em;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 10px;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid #a86500;
    border-radius: 3px;
    background: #a86500;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    padding: 12px 24px;
    color: #fff;
    cursor: pointer;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #a86500;
    background: #fff;
    color: #a86500;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #a86500;
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #404040;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #404040;
    outline: none;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #a86500;
    text-decoration: none;
}

a:visited {
    color: #a86500;
}

a:hover, a:focus, a:active {
    color: #a86500;
}

a:focus {
    outline: none;
}

a:hover, a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    float: left;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
    color: #404040;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: center;
}

.alignnone {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;

}

.alignfull {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    max-width: none;
}

.wp-block-cover h2 {
    max-width: 100%;
}

.is-style-default .wp-block-button__link,
.is-style-outline .wp-block-button__link {
    border-radius: 5px;
}

.wp-block-button__link {
    font-size: 20px;
}


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
    width: 100%;
    height: 30px;
    padding: 5px;
}

.widget select:focus {
    outline: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0 0em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.entry-meta > span::before,
.entry-footer > span::before,
.single-post-meta > span::before,
.post-meta > span:before {
    content: "";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    height: 15px;
    margin-right: 10px;
    color: #404040;
}

.entry-meta .byline .author.vcard {
    margin-left: -4px;
    margin-right: 0px;
}

.entry-footer span,
.entry-meta span,
.post-meta span {
    margin-right: 15px;
}

.entry-meta span.comments-link {
    margin-right: 0px;
}

.post-meta span a,
.entry-meta span a {
    color: #404040;
}

span.comments-link::before {
    content: "\f086";
}

.entry-meta .posted-on::before,
.single-post-meta .posted-on::before,
.post-meta .posted-on::before {
    content: "\f073 ";
}

.entry-footer > .cat-links::before,
.entry-meta > .cat-links::before {
    content: "\f07c";
}

.entry-meta .byline::before,
.single-post-meta .byline::before {
    content: "\f007";
}

.entry-footer .edit-link::before {
    content: "\f044";
}

.entry-footer .tags-links::before {
    content: "\f02c";
}

.entry-footer {
    margin-bottom: 30px;
}

blockquote {
    display: block;
    width: 100%;
    border-left: 2px solid #a86500;
    padding: 0px 15px;
    margin: 15px 0px;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.authorbox .author-avatar {
    float: left;
    margin: 5px 15px 10px 0;
}

.authorbox {
    background: #e6ffff;
    border: 1px solid #dddddd;
    margin-top: 20px;
    overflow: hidden;
    padding: 15px;
}

.authorbox.no-author-avatar .author-info {
    margin-left: 0;
}

.authorbox .author-bio-posts-content {
    margin-top: 10px;
}

.authorbox .author-bio-posts-content p {
    margin: 0;
}

.authorbox .author-bio-posts-content ul {
    list-style-position: inside;
    margin: 0;
}

#respond {
    clear: both;
    display: block;
    float: left;
    width: 97%;
}

#commentform label {
    display: inline-block;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area form#commentform p {
    float: left;
    width: 60%;
}

.comments-area form#commentform p.comment-form-cookies-consent,
.comments-area #commentform p.comment-notes,
.comments-area #commentform p.comment-form-comment {
    width: 100%;
}

.comments-area form#commentform p.comment-form-cookies-consent input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 6px;
    float: left;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comment-form {
    margin: 0 -15px;
}

.single-product .comment-form {
    margin: 20px -0;
}

.comments-area form#commentform p.logged-in-as,
.comments-area form#commentform p {
    padding: 0 15px;
}

.woocommerce #review_form #respond p.comment-form-comment,
.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
    width: 100%;
}

#tab-reviews .comment-form-author,
#tab-reviews .comment-form-email,
#tab-reviews .comment-form-url {
    width: 50%;
}

#tab-reviews .comment-form-author {
    padding-right: 10px;
}

.comments-area form#commentform p.logged-in-as {
    padding: 0 15px;
    width: 100%;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    width: 33.33%;
    float: left;
}

.comment-list li.comment::after {
    content: inherit;
    display: none;
}

.comment-list li {
    padding-left: 0;
}

.comment {
    background-position: 0 -74px;
    display: block;
    float: left;
    width: 100%;
}

ol.comment-list .comment {
    margin-bottom: 15px;
}

ol.comment-list .comment:first-child {
    margin-bottom: 0px;
}

ol.comment-list {
    border-radius: 5px;
    float: left;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    overflow: inherit;
    padding: 0;
    width: 100%;
}

ol.comment-list .children {
    border: medium none;
    float: left;
    margin: 15px 0px 5px 0px;
    width: 100%;
}

ol.comment-list li {
    list-style: outside none none;
    margin-bottom: 0px;
}

.comment-list .comment-content ul,
.comment-list .comment-content ul li {
    list-style: disc;
}

.comment-list .comment-content ol,
.comment-list .comment-content ol li {
    list-style: decimal;
}

.comment .comment-body {
    background-color: #ffffff;
    border: 1px dashed #dddddd;
    border-radius: 0;
    clear: both;
    display: block;
    float: left;
    margin-top: 5px;
    padding: 10px 30px 10px 30px;
    position: relative;
    text-align: left;
    width: 100%;
}

.comment-author.vcard {
    font-size: 20px;
    margin-bottom: 5px;
}

.comment-list .children {
    background-position: left 20px;
    background-repeat: no-repeat;
    border-left: 1px solid rgb(238, 238, 238);
    margin-left: 0;
    padding-left: 40px;
}

.comment-list li.comment > div img.avatar {
    left: 29px;
    position: absolute;
    top: 29px;
}

#comment-form-title {
    font-size: 24px;
    padding-bottom: 10px;
}

.vcard .avatar {
    float: left;
    margin: 7px 15px 15px 0;
}

.comment-metadata {
    font-size: 15px;
    font-style: italic;
    line-height: 16px;
    margin-bottom: 10px;
}

.comment-reply-link {
    border: 1px solid #a86500;
    border-radius: 3px;
    background: #a86500;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    padding: 8px 24px;
    color: #fff;
}

.comment-reply-link:hover {
    border-color: #a86500;
    background: #fff;
    color: #a86500;
}

.comment-reply-link,
.comment-reply-link:hover {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.form-allowed-tags code {
    white-space: inherit;
    word-wrap: break-word;
}

.comment-respond label {
    display: block;
    font-weight: normal;
}

.comments-title {
    float: left;
    font-weight: normal;
    margin: 25px 0 15px 0px;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#commentform label {
    display: inline-block;
    margin-bottom: 5px;
}

#commentform input[type="submit"] {
    line-height: 1.1;
    border: 1px solid #a86500;
}

#commentform input[type="submit"]:hover {
    background: transparent;
    color: #a86500;
}

.post-grid-text-wrap {
    padding: 0 15px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
# Custom Css
--------------------------------------------------------------*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.inner-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}

#primary {
    float: left;
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
}

.page-template-full-width #primary,
.page-template-no-space #primary,
.page-template-skeleton #primary {
    width: 100%;
}

.page-template-skeleton #primary {
    padding-left: 0px;
    padding-right: 0px;
}

#secondary {
    float: left;
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}

#content {
    clear: both;
    overflow: hidden;
    padding: 40px 0px;
}

.page-template-no-space #content .entry-content,
.page-template-skeleton #content .entry-content {
    margin: 0;
}

.elementor-template-full-width #content,
.page-template-no-space #content,
.page-template-skeleton #content {
    padding: 0;
}

/*--------------------------------------------------------------
## Social Links Style
--------------------------------------------------------------*/

.menu-social-menu-container {
    overflow: hidden;
    float: left;
}

.menu-social-menu-container ul {
    margin: 0;
}

.menu-social-menu-container li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 1;
}

.menu-social-menu-container li {
    display: block;
    float: left;
    margin-right: 12px;
    line-height: 1;
}

.menu-social-menu-container li:last-child {
    margin-right: 0px;
}

.menu-social-menu-container ul li a::before {
    color: #fff;
    content: "\f0c1";
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #383737;
}

.menu-social-menu-container ul li a:hover {
    background-color: transparent;
}

.menu-social-menu-container ul li a:hover,
.menu-social-menu-container ul li a {
    -moz-transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.menu-social-menu-container ul li a[href*="facebook.com"]::before {
    content: "\f39e";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="twitter.com"]::before {
    content: "\f099";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="linkedin.com"]::before {
    content: "\f0e1";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="plus.google.com"]::before {
    content: "\f0d5";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="youtube.com"]::before {
    content: "\f167";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="dribbble.com"]::before {
    content: "\f17d";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="pinterest.com"]::before {
    content: "\f0d2";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="bitbucket.org"]::before {
    content: "\f171";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="github.com"]::before {
    content: "\f113";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="codepen.io"]::before {
    content: "\f1cb";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="flickr.com"]::before {
    content: "\f16e";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href$="/feed/"]::before {
    content: "\f09e";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="foursquare.com"]::before {
    content: "\f180";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="instagram.com"]::before {
    content: "\f16d";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="tumblr.com"]::before {
    content: "\f173";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="reddit.com"]::before {
    content: "\f1a1";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="vimeo.com"]::before {
    content: "\f194";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="digg.com"]::before {
    content: "\f1a6";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="twitch.tv"]::before {
    content: "\f1e8";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="stumbleupon.com"]::before {
    content: "\f1a4";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="delicious.com"]::before {
    content: "\f1a5";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="mailto:"]::before {
    content: "\f0e0";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="soundcloud.com"]::before {
    content: "\f1be";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="wordpress.org"]::before {
    content: "\f19a";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="wordpress.com"]::before {
    content: "\f19a";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="jsfiddle.net"]::before {
    content: "\f1cc";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="tripadvisor.com"]::before {
    content: "\f262";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="xing.com"]::before {
    content: "\f168";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="angel.co"]::before {
    content: "\f209";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="vk.com"]::before {
    content: "\f189";
    font-family: "Font Awesome 5 Brands";
}

.menu-social-menu-container ul li a[href*="slack.com"]::before {
    content: "\f198";
    font-family: "Font Awesome 5 Brands";
}

/*--------------------------------------------------------------
# Header Css
--------------------------------------------------------------*/
.site-header {
    display: inline-block;
    width: 100%;
    clear: both;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.page-template-elementor_header_footer .site-header {
    box-shadow: none;
}

.head-wrap-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-branding {
    float: left;
}

.site-title {
    margin-top: -10px;
    margin-bottom: 0px;
}

.site-title.logo-only-hidden {
    display: none;
}

.site-title a {
    color: #122223;
    text-decoration: none;
    font-size: 36px;
}

.site-branding .site-description {
    margin: 0;
}

.site-branding img {
    height: 50px;
    width: auto;
}

body.sticky-header-enabled .site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
    -ms-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
}

body.admin-bar.sticky-header-enabled .site-header {
    top: 32px;
}

/*--------------------------------------------------------------
# Main Navigation Css
--------------------------------------------------------------*/

.navigation-wrap {
    float: right;
}

.navigation-wrap .main-navigation,
.navigation-wrap .additional-btn {
    float: left;
}

.main-navigation ul li a {
    color: #383737;
    float: left;
    padding: 30px 15px;
    text-decoration: none;
}

.main-navigation ul li a:hover {
    color: #a86500;
}

.main-navigation ul li {
    position: relative;
}

.main-navigation ul ul.sub-menu {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    opacity: 0;
    padding-top: 15px;
    pointer-events: none;
    transition: opacity 5s ease 5s;
}

.main-navigation ul ul.sub-menu li {
    border: 1px solid #ddd;
    border-bottom: 0;
}

.main-navigation ul ul.sub-menu li:last-child {
    border-bottom: 1px solid #ddd;
}

.main-navigation ul > li.menu-item-has-children:hover > ul.sub-menu {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 5s ease 5s;
}

.main-navigation ul ul.sub-menu > li:first-child:before {
    background-color: transparent;
    bottom: 100%;
    left: 19%;
    border: 15px solid transparent;
    border-bottom-color: #ddd;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.main-navigation ul ul.sub-menu > li:first-child:after {
    background-color: transparent;
    bottom: 100%;
    left: 20%;
    border: 13px solid transparent;
    border-bottom-color: #fff;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.main-navigation ul ul.sub-menu li a {
    background: #fff;
    padding: 10px 15px;
}

.main-navigation ul ul.sub-menu > li.menu-item-has-children ul.sub-menu {
    left: 100%;
    top: 0;
    padding-top: 0;
    margin-top: -1px;
}

.main-navigation ul ul.sub-menu ul.sub-menu > li:before,
.main-navigation ul ul.sub-menu ul.sub-menu > li:after {
    display: none;
}

/*--------------------------------------------------------------
## Additional Item: Cart Style
--------------------------------------------------------------*/
.top-cart-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 29px;
    margin-left: 10px;
}

.cart-value {
    color: #333;
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    border-radius: 0px 0px 3px 3px;
    position: relative;
}

.cart-value:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    border: 2px solid #333;
    border-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
}

.top-cart-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 140%;
    right: 0px;
    width: 300px;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.07);
    border: 2px solid #E6E6E6;
    z-index: 9999;
    padding: 20px;
    padding-top: 10px;
    background: #fff;
    float: left;
    text-align: left;
}

.top-cart-content:before,
.top-cart-content:after {
    bottom: 100%;
    left: auto;
    right: 8px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.top-cart-content:before {
    border-color: rgba(230, 230, 230, 0);
    border-bottom-color: #E6E6E6;
    border-width: 9px;
    margin-left: -5px;
    right: 5px;
}

.top-cart-content:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
    margin-bottom: -0.3px;
}

.top-cart-wrap:hover .top-cart-content {
    opacity: 1;
    visibility: visible;
    top: 125%;
}

.top-cart-content .widget_shopping_cart,
.top-cart-content .woocommerce-mini-cart,
.top-cart-content .woocommerce-mini-cart-item,
.top-cart-content .woocommerce-mini-cart .woocommerce-mini-cart__total,
.top-cart-content .woocommerce-mini-cart .woocommerce-mini-cart__buttons,
.top-cart-content .widget_shopping_cart p {
    float: left;
    width: 100%;
}

.top-cart-content .widget_shopping_cart.woocommerce ul.cart_list li,
.top-cart-content .woocommerce ul.product_list_widget li {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-cart-content .widget_shopping_cart.woocommerce ul.cart_list li a {
    padding: 0;
    font-weight: normal;
}

.top-cart-content p.woocommerce-mini-cart__empty-message {
    margin-bottom: 0;
}

.top-cart-wrap .top-cart-content .widgettitle {
    display: none;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
    padding: 0;
    font-weight: 400;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 16px;
    color: #fff !important;
    top: 15px;
}

.top-cart-content .woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
    border-top: 0px;
    padding: 10px 0px;
    margin-bottom: 0px;
    text-align: center;
}

.top-cart-content .widget_shopping_cart p {
    border-top: 0px;
}

.top-cart-content .woocommerce.widget_shopping_cart .buttons {
    margin-bottom: 0px;
}

.top-cart-content .woocommerce.widget_shopping_cart .buttons a {
    width: 100%;
    color: #fff;
    font-weight: 400;
    border-radius: 0px;
    margin-bottom: 10px;
    text-align: center;
    padding: 12px 20px;
}

.top-cart-content .woocommerce.widget_shopping_cart .buttons a:hover {
    background: #2e2e2e;
}

.top-cart-content .woocommerce.widget_shopping_cart .buttons a:last-child {
    margin-bottom: 0px;
}

.top-cart-content,
.top-cart-wrap:hover .top-cart-content,
.top-cart-content .woocommerce.widget_shopping_cart .buttons a:hover,
.top-cart-content .woocommerce.widget_shopping_cart .buttons a {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}


.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
    background: #a86500;
    padding: 0;
    font-weight: 400;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 18px;
    color: #fff !important;
    top: 15px;
    font-size: 18px;
}

.woocommerce.widget_shopping_cart .total {
    border-top: 0px;
    padding: 10px 0px;
    margin-bottom: 0px;
    text-align: center;
}

/*--------------------------------------------------------------
## Additional Item: Button Style
--------------------------------------------------------------*/
.additional-btn .nav-additional-btn {
    float: right;
    padding: 5px 25px;
    background: transparent;
    color: #a86500;
    border: 1px solid #a86500;
    border-radius: 3px;
    text-decoration: none;
    margin: 22px 0 0 20px;
}

.additional-btn .nav-additional-btn:hover {
    background: #a86500;
    color: #fff;
}

.additional-btn ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.additional-btn ul > li {
    position: relative;
}

.additional-btn a.btn-user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;

    padding: 7px 12px;
    background: transparent;
    color: #a86500;
    border: 1px solid #a86500;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 22px;
}

.additional-btn a.btn-user-profile img {
    float: left;
    margin-right: 5px;
    height: 24px;
    width: 25px;
}

.additional-btn ul > li {
    position: relative;
    display: inline-block;
}

.additional-btn ul .sub-menu {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    z-index: 9;
    padding-top: 13px;
}

.additional-btn ul .sub-menu li a {
    color: #383737;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.additional-btn ul .sub-menu li a:hover {
    color: #a86500;
}

.additional-btn ul .sub-menu:before {
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #ddd;
    content: '';
    right: 10%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

.additional-btn ul .sub-menu:after {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    content: '';
    right: 10%;
    opacity: 0;
    position: absolute;
    top: 1px;
}

.additional-btn ul > li:hover .sub-menu:after {
    right: 11%;
    top: 2px;
}

.additional-btn ul > li:hover .sub-menu {
    display: block;
}

.additional-btn ul > li:hover .sub-menu:after,
.additional-btn ul .sub-menu:before {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.additional-btn ul .sub-menu ul.sub-menu-list {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, 0.08);
    padding-top: 10px;
    padding-bottom: 10px;
}

.additional-btn ul > li:hover .sub-menu ul.vendor-sub-menu {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
}

.additional-btn .nav-additional-btn,
.additional-btn .nav-additional-btn :hover,
.main-navigation ul ul.sub-menu,
.main-navigation ul > li.menu-item-has-children:hover ul.sub-menu,
.main-navigation ul li a:hover,
.main-navigation ul li a {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.additional-btn a:focus {
    outline: none;
}

/*--------------------------------------------------------------
## Additional Item: Social Links Style
--------------------------------------------------------------*/
.agency-plus-social-icons {
    overflow: hidden;
    float: left;
}

.agency-plus-social-icons ul {
    margin: 0;
}

.agency-plus-social-icons li a {
    display: inline-block;
    margin-right: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    padding: 0 !important;
}

.additional-menu-item .agency-plus-social-icons {
    margin-top: 27px;
}

.additional-menu-item .agency-plus-social-icons li a {
    background: transparent;
    height: 36px;
    width: 36px;
    line-height: 1;
    border: 2px solid #383737;
    border-radius: 50%;
}

.agency-plus-social-icons li {
    display: block;
    float: left;
    margin-right: 3px;
}

.additional-menu-item .agency-plus-social-icons li {
    margin-right: 10px;
}


.agency-plus-social-icons li:last-child,
.additional-menu-item .agency-plus-social-icons li:last-child {
    margin-right: 0px;
}

.agency-plus-social-icons ul li a::before {
    font-size: 16px;
}

.agency-plus-social-icons li a i {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

.agency-plus-social-icons ul li a::before {
    color: #fff;
    content: "\f0c1";
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 45px;
}

.additional-menu-item .agency-plus-social-icons li a:before {
    color: #383737;
    line-height: 32px;
}

.additional-menu-item .agency-plus-social-icons li a:hover:before {
    color: #fff;
}

.agency-plus-social-icons ul li a:hover {
    background-color: #383737;
}

.agency-plus-social-icons ul li a:hover,
.agency-plus-social-icons ul li a,
.additional-menu-item .agency-plus-social-icons li a:hover,
.additional-menu-item .agency-plus-social-icons li a {
    -moz-transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

/*--------------------------------------------------------------
## Sidebar Styles
--------------------------------------------------------------*/

#secondary .widget {
    float: left;
    width: 100%;
}

#secondary .widget .button {
    background: #a86500;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

#secondary .widget .button {
    font-size: 15px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 600;
    padding: 12px 24px;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    line-height: 1;
}

#secondary .widget .button:hover {
    background: #2e2e2e;
}

#secondary .widget .button:hover,
#secondary .widget .button {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

#secondary ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#secondary ul li {
    position: relative;
    padding-left: 12px;
    margin: 12px 0px;
}

#secondary ul li a,
#secondary ul li a:visited {
    color: #404040;
}

#secondary ul li a:hover {
    color: #a86500;
}

#secondary ul li:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #404040;
    position: absolute;
    top: 7px;
    left: 0;
}

#secondary ul li:hover:before {
    color: #a86500;
}

#secondary .widget-title {
    margin-top: 0px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ddd;
}

#secondary .widget_search form {
    position: relative;
}

#secondary .widget_search form input[type="search"] {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

#secondary .widget_search form input[type="search"]:focus {
    outline: none;
}

#secondary .widget_search form input[type="submit"] {
    float: left;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    background-color: #a86500;
    border: 0px;
}

/*--------------------------------------------------------------
## Single Item Styles
--------------------------------------------------------------*/
.blog #main article.post,
.blog #main article.page,
.archive #main article.post,
.archive #main article.page,
.archive #main article.product,
.search-results article.post,
.search-results article.page,
.search-results article.product {
    border-bottom: 1px dashed #ddd;
    margin-bottom: 35px;
}

.page.type-page h2.entry-title {
    margin-top: 0;
    color: #404040;
}

h2.entry-title a {
    color: #404040;
}

h2.entry-title a:hover {
    color: #a86500;
}

.post .entry-content {
    margin-top: 0;
}

.entry-meta {
    margin-bottom: 22px;
}

.post-thumbnail {
    margin-bottom: 20px;
}

/*--------------------------------------------------------------
# Post navigation  Styles
--------------------------------------------------------------*/
.post-navigation,
.post-navigation .nav-links {
    float: left;
    width: 100%;
}

.post-navigation .nav-links {
    padding: 15px 0px;
    border-top: 1px dashed #ddd;
    margin-bottom: 0px;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous,
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next,
#infinite-handle span {
    padding: 0px;
    width: 50%;
    background: transparent;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    padding-right: 15px;
    text-align: left;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    padding-left: 15px;
    text-align: right;
}

.post-navigation .nav-links .nav-previous a,
.post-navigation .nav-links .nav-next a {
    color: #404040;
}

.post-navigation .nav-links .nav-previous a:hover,
.post-navigation .nav-links .nav-next a:hover {
    color: #a86500;
}

.comment-navigation .nav-previous:hover,
.posts-navigation .nav-previous:hover,
.post-navigation .nav-previous:hover,
.comment-navigation .nav-next:hover,
.posts-navigation .nav-next:hover,
.post-navigation .nav-next:hover,
#infinite-handle span:hover {
    background: transparent;
}

/*  Default Pagination */

.pagination .nav-links .page-numbers {
    display: inline-block;
    background: #a86500;
    color: #fff;
    padding: 12px 15px;
    line-height: 1;
    border: 1px solid #a86500;
    margin-right: 6px;
}

.pagination .nav-links .page-numbers {
    float: left;
}

.pagination .nav-links .page-numbers.current {
    background: transparent;
    color: #a86500;
}

/*--------------------------------------------------------------
## Error 404 Page Starts
--------------------------------------------------------------*/
.error-404.not-found,
.error-404.not-found form.search-form input[type="search"],
.error-404.not-found form.search-form input[type="text"],
.error-404.not-found .page-header {
    float: left;
    width: 100%;
}

.error-404.not-found {
    padding: 0px;
    text-align: center;
}

.error-404.not-found:after {
    content: "\f119";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 145px;
    color: #ff0000;
    opacity: 0.3;

    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}

.error-404.not-found form.search-form {
    position: relative;
    display: inline-block;
    width: 60%;
}


.error-404.not-found form.search-form input[type="search"],
.error-404.not-found form.search-form input[type="text"] {
    padding: 10px 10px 11px 10px;
    box-sizing: border-box;
    height: auto;
}

.error-404.not-found form.search-form input[type="submit"],
.search-no-results form.search-form input[type="submit"] {
    position: absolute;
    right: 0;
    background-color: #a86500;
    color: #fff;
    border: 0;
    padding: 13px 20px;
    line-height: 1.1;
}

.error-404.not-found form.search-form input[type="submit"]:hover {
    background-color: #a86500;
    color: #fff;
    border: 0;
}

.error404 #primary,
.error-404.not-found .page-header {
    width: 100%;
    text-align: center;
}

.error-404.not-found .page-header .page-title {
    float: none !important;
    display: inline-block !important;
    width: auto !important;
    margin-top: 0px;
}

/*--------------------------------------------------------------
## Shop Page widgets style
--------------------------------------------------------------*/
ul.products {
    width: 100%;
}

.woocommerce-breadcrumb {
    display: none;
}

li.product.type-product {
    text-align: center;
}

.woocommerce-ordering:focus,
.woocommerce-ordering select:focus {
    outline: none;
}

.woocommerce .woocommerce-ordering select {
    height: 32px;
}

.woocommerce span.onsale {
    background-color: #a86500;
    position: absolute;
    top: 0 !important;
    left: -15px !important;
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-weight: 400;
    padding: 0px;
}

.woocommerce ul.products li.product .price {
    color: #999;
}

.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price ins {
    display: inline-block;
}

.woocommerce-products-header__title.page-title {
    color: #333;
    padding: 0;
    line-height: 1.4;
    margin: 0 0 10px 0;
}

.products {
    margin-top: 25px !important;
    display: inline-block;
}

.woocommerce table.shop_table th {
    font-weight: 400;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce-products-header,
.woocommerce-page .woocommerce-result-count {
    float: left;
    width: 100%;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce a.button,
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce button.button.alt.disabled,
.woocommerce #review_form #respond .form-submit input {
    background-color: #a86500;
    font-weight: 400;
    border: 1px solid #a86500;
    color: #fff !important;
    opacity: 1 !important;
    border-radius: 0px;
}

.woocommerce button.button.alt.disabled {
    opacity: 0.8 !important;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover,
.woocommerce a.button:hover,
.woocommerce #payment #place_order:hover,
.woocommerce-page #payment #place_order:hover,
.woocommerce #review_form #respond .form-submit input:hover {
    background: #2e2e2e !important;
    border-color: #2e2e2e !important;
    color: #fff !important;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 110px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.woocommerce-message,
.woocommerce-info {
    border-top-color: #a86500;
}

.woocommerce-message::before,
.woocommerce-info::before {
    color: #a86500;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: #a86500;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    display: inline-block;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
    color: #a86500;
}

.woocommerce-error li {
    color: #b81c23;
}

.woocommerce div.product .product_title,
.woocommerce div.product .woocommerce-tabs .panel h2,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.single .related.products h2 {
    font-weight: 400;
}

.woocommerce div.product .woocommerce-tabs .panel h2 {
    margin: 0;
}

.woocommerce.single-product div.product {
    text-align: left;
}

.woocommerce div.product div.images .flex-control-thumbs {
    margin-left: -5px;
    margin-right: -5px;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    padding: 0px 5px;
    margin-bottom: 5px;
}

.woocommerce.single-product div.product .product_title {
    border-bottom: 0px;
    margin-bottom: 0px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    color: #fff;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 5px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: #999;
}

.woocommerce div.product p.price {
    margin-top: 10px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border-radius: 0px;
    border: 1px solid #a86500;
    background-color: #a86500;
    color: #fff;
    font-weight: 400;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 1px solid #a86500;
}

.woocommerce div.product .woocommerce-tabs .panel p,
.woocommerce div.product .woocommerce-product-details__short-description p,
.woocommerce-page div.product .woocommerce-product-details__short-description p,
.woocommerce ul.order_details li,
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
    color: #8a8a8a;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    display: none;
}

.woocommerce .comment-form,
.woocommerce-page .comment-form {
    margin: 0;
}

.woocommerce .quantity .qty {
    line-height: 32px;
}

.woocommerce .quantity .qty:focus {
    outline: none;
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
    margin: 0px;
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper img {
    margin-bottom: 0px;
}

.woocommerce div.product div.woocommerce-product-gallery--with-images .flex-viewport {
    margin-bottom: 10px;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    padding: 0px 5px;
}

.single-product .upsells.products,
.single-product .upsells.products ul.products,
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells ul.products {
    width: 100%;
}

/* Woo-commerce pagination & Default Pagination */

.woocommerce nav.woocommerce-pagination {
    float: left;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
    border: 0px;
}

.woocommerce nav.woocommerce-pagination ul li .page-numbers,
.pagination .nav-links .page-numbers {
    display: inline-block;
    background: #a86500;
    color: #fff;
    padding: 15px;
    line-height: 1;
    border: 1px solid #a86500;
    margin-right: 6px;
}

.pagination .nav-links .page-numbers {
    float: left;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.pagination .nav-links .page-numbers.current {
    background: transparent;
    color: #a86500;
}

.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after {
    top: 14px;
}

.woocommerce table.shop_attributes td p {
    padding: 8px;
}

/*--------------------------------------------------------------
## Latest Products widgets style & Featured categories
--------------------------------------------------------------*/

li.product .product-thumb-wrap,
li.product .product-thumb-wrap > a,
li.product .product-info-wrap,
li.product .add-to-cart-wrap .added_to_cart {
    float: left;
    width: 100%;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title {
    color: #0a0b0c;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
}

.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    color: #0a0b0c;
    font-size: 36px;
    margin-bottom: 0px;
    padding: 0
}

.product .price,
.woocommerce ul.products li.product .price {
    color: #a86500;
    display: block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 15px;
}

.woocommerce ul.products li.product .price ins {
    font-weight: 400;
}

.product .price del,
.woocommerce ul.products li.product .price del {
    color: #9d9d9d;
    margin-right: 5px;
}

.product .price ins {
    background: transparent;
}

.button.add_to_cart_button,
a.button.add_to_cart_button,
.woocommerce ul.products li.product .button,
a.button.btn-view-details {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-top: 0px;
}

.woocommerce ul.products li.product .button.loading {
    padding-right: 2.618em;
}

.button.add_to_cart_button:hover,
.woocommerce ul.products li.product .button:hover,
a.button.btn-view-details:hover {
    border-color: #2e2e2e;
}

a.button.btn-view-details:hover {
    background: #2e2e2e !important;
    border-color: #2e2e2e !important;
}

li.product .add-to-cart-wrap .added_to_cart {
    color: #fff;
    line-height: 1;
}

li.product,
li.product .product-thumb-wrap {
    position: relative;
}

li.product .product-thumb-wrap img {
    width: 100%;
}

.woocommerce ul.products li.product .product-thumb-wrap a img {
    margin-bottom: 0;
}

li.product .product-thumb-wrap {
    line-height: 0;
}

li.product .product-thumb-wrap > a:before {
    background: #a86500;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

li.product .add-to-cart-wrap {
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 100%;
    text-align: center;
}

li.product .product-info-wrap {
    padding-top: 20px;
    position: relative;
}

li.product:hover .add-to-cart-wrap {
    opacity: 1;
}

li.product:hover .product-thumb-wrap > a:before {
    opacity: 0.8;
}

li.product:hover .product-thumb-wrap > a:before,
li.product .product-thumb-wrap > a:before,
li.product:hover .product-cart-wrap,
li.product .add-to-cart-wrap,
.button.add_to_cart_button,
a.button.add_to_cart_button,
.woocommerce ul.products li.product .button,
.button.add_to_cart_button:hover,
.woocommerce ul.products li.product .button:hover,
.woocommerce ul.products li.product .button.added {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.woocommerce .products .star-rating {
    margin: 5px auto;
}

#secondary .woocommerce-product-search button:hover {
    border-color: #a86500;
    background: #a86500;
    color: #fff;
}

/*--------------------------------------------------------------
## Product Single Changes Starts
--------------------------------------------------------------*/

.single-product.woocommerce div.product form.cart {
    float: left;
    margin-bottom: 15px;
}

.single-product.woocommerce .product .product_meta,
.single-product.woocommerce .product .product_meta > span {
    clear: both;
    display: block;
}

/* Search form css */
.woocommerce-product-search input.search-field,
.search-form input.search-field {
    background: #f9f9f9;
    padding: 10px 9% 11px 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.woocommerce-product-search input.search-field:focus,
.search-form input.search-field:focus {
    background: #ebffff;
}

.woocommerce-product-search button[type="submit"],
.search-submit {
    border-radius: 0;
    padding: 7.3px 20px;
    position: absolute;
    right: 0;
    top: 0;
    height: 54px;
}

.search-form input[type="submit"],
.woocommerce-product-search button[type="submit"] {
    border-radius: 0px;
    padding: 12px 20px;
}

.woocommerce-product-search,
.search-form {
    position: relative;
}

.woocommerce-product-search input.search-field {
    padding: 13px 4% 12px 10px;
    width: 100%;
    margin: 0;
    height: auto;
    box-sizing: border-box;
    line-height: 1;
    border-radius: 0px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.woocommerce-product-search button[type="submit"] {
    border-radius: 0px;
    padding: 12px 20px;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1.2;
}

/* Filter by price css */

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #a86500;
}

/* Tagcloud */

.widget_tag_cloud .tagcloud a {
    font-size: 20px !important;
    border: 1px dashed #808080;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 5px;
    line-height: 22px;
    color: #808080;
}

/*--------------------------------------------------------------
# Footer Css
--------------------------------------------------------------*/

#footer-widget-area {
    background: #101010;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    clear: both;
    padding: 50px 0px;
}

#footer-widget-area .footer-column {
    float: left;
    width: 22%;
    padding-left: 15px;
    padding-right: 15px;
}

#footer-widget-area .footer-column:first-child {
    width: 34%;
    padding-right: 30px;
}

.footer-widgets .widget-title {
    font-weight: 500;
}

.footer-widgets .widget-title {
    color: #fff;
}

.footer-widgets p {
    margin: 5px 0px 15px 0px;
    color: #808080;
}

.subscribe-btn-pack {
    width: 100%;
    clear: both;
    position: relative;
}

.subscribe-btn-pack input[type="email"] {
    width: 100%;
    padding: 8px;
    border-radius: 0px;
    border: 0;
}

.subscribe-btn-pack input[type="submit"] {
    background: #fa8f00;
    border-radius: 0px;
    padding: 12px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    height: 100%;
    cursor: pointer;
}

.subscribe-btn-pack input[type="submit"]:hover {
    background: #ffa915;
}

.subscribe-btn-pack input[type="submit"]:hover,
.subscribe-btn-pack input[type="submit"] {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.subscribe-btn-pack input[type="email"]:focus,
.subscribe-btn-pack input[type="submit"]:focus {
    outline: none;
}

#footer-widget-area ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#footer-widget-area ul li {
    clear: both;
    width: 100%;
    margin: 12px 0px;
}

#footer-widget-area ul li,
#footer-widget-area ul li a {
    color: #808080;
    text-decoration: none;
}

.site-footer {
    display: inline-block;
    vertical-align: top;
    padding: 20px 0px;
    width: 100%;
    clear: both;
    background-color: #fff;
    border-top: 1px dashed #ddd;
}

.site-footer .site-info {
    float: left;
    color: #383737;
    line-height: 1;
}

.footer-social-links {
    float: right;
}

.footer-social-links ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.footer-social-links ul li {
    display: inline-block;
}

/*--------------------------------------------------------------
# Scrollup Css
--------------------------------------------------------------*/

.scrollup {
    border: 1px solid #ddd;
    bottom: 50px;
    color: #fff;
    display: none;
    float: right;
    line-height: 1.2;
    height: 35px;
    width: 35px;
    position: fixed;
    right: 25px;
    text-align: center;
    z-index: 99999;
    transition: all 0.5s ease-in-out 0s;
}

.scrollup:hover {
    background-color: #a86500;
    border-color: #a86500;
}

.scrollup:before {
    content: "\f30c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    color: #adadad;
    line-height: 35px;
}

.scrollup:hover:before {
    color: #fff;
}

/*--------------------------------------------------------------
## Layout sidebar
--------------------------------------------------------------*/

.global-layout-left-sidebar #primary {
    float: right;
}

.global-layout-no-sidebar #primary {
    width: 100%;
}

/*--------------------------------------------------------------
# Mean Menu  Css
--------------------------------------------------------------*/

.mean-container .mean-bar {
    position: absolute;
    background: transparent;
}

.mean-container a.meanmenu-reveal span {
    background: #a86500;
}

.mean-container a.meanmenu-reveal {
    color: #a86500;
    top: 2px;
}

.mean-container .mean-nav {
    margin-top: 72px;
    background: #a86500;
}

.mean-container .mean-nav ul li a.mean-expand {
    width: 57px;
    height: 57px;
    padding: 0 !important;
    border-bottom: 0px !important;
    line-height: 54px;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
    background: transparent !important;
}

/*--------------------------------------------------------------
# Checkout Css
--------------------------------------------------------------*/

p.eddr-notice.eddr-cart-item-notice em {
    display: none;
}

/*--------------------------------------------------------------
# Media Css
--------------------------------------------------------------*/

@media screen and (max-width: 1180px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 1050px) {

    #main-navigation-wrap .additional-menu-item .agency-plus-social-icons,
    #main-navigation-wrap .additional-btn .nav-additional-btn {
        margin-top: 6px;
    }

    #main-navigation-wrap .top-cart-wrap {
        margin-top: 10px;
    }

    #footer-widget-area .footer-column:first-child {
        width: 25%;
        padding-right: 15px;
    }

    #footer-widget-area .footer-column {
        width: 25%;
    }

    .site-header {
        vertical-align: top;
        padding: 15px 0px;
    }

    .additional-btn {
        margin-right: 50px;
    }

    .site-branding,
    .additional-btn {
        position: relative;
        z-index: 999999;
    }

    .head-wrap-inner {
        display: inline-block;
        clear: both;
        width: 100%;
    }
}

@media screen and (max-width: 991px) {

    .subscribe-btn-pack input[type="submit"] {
        width: 100%;
        position: relative;
    }

    #primary {
        width: 60%;
    }

    #secondary {
        width: 40%;
    }
}

@media screen and (max-width: 850px) {
    .footer-widgets .widget-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {

    body.sticky-header-enabled .site-header {
        position: static;
    }

    .sticky-header-enabled #content {
        margin-top: 0 !important;
    }

    #primary,
    #secondary {
        width: 100%;
    }

    #secondary {
        margin-top: 30px;
    }

    #footer-widget-area .footer-column {
        width: 33.33%;
    }

    #footer-widget-area .footer-column:first-child {
        width: 100%;
    }

    .subscribe-btn-pack input[type="submit"] {
        width: auto;
        position: absolute;
    }
}

@media screen and (max-width: 551px) {
    #footer-widget-area .footer-column,
    .footer-social-links,
    .site-footer .site-info {
        width: 100%;
    }

    .site-footer .site-info {
        margin-bottom: 15px;
    }

    .additional-btn {
        margin-right: 25px;
        margin-top: 0px;
        z-index: 999999;
    }
}
