.customize-control-radio-image-veritical #input_select_header_layout img {
    width: 100%;
    margin-top: 2px;
}
.customize-control-gridchamp-radio-image #input_blog_sidebar_layout img {
    max-width: 70px;
    margin-top: 3px;
    width: 70px;
}

.customize-control-gridchamp-radio-image #input_blog_sidebar_layout label:hover img,
.customize-control-gridchamp-radio-image-veritical #input_select_header_layout label:hover img  {
    opacity: 0.77;
}
.customize-control-radio-image #input_blog_sidebar_layout label {
    width: 33.33%;
    float: left;
}
.customize-control-radio-image #input_blog_sidebar_layout input {
    clear: both !important;
    display: block;
}
#customize-theme-controls .customize-control input[type=text],
#customize-theme-controls .customize-control input[type=url],
#customize-theme-controls .customize-control textarea,
#customize-theme-controls .customize-control input[type=checkbox],
#customize-theme-controls .customize-control input[type=number],
#customize-theme-controls .customize-control select {
    border-radius: 0;
    border-color: #e8e7e7;
}
li#customize-control-select_header_layout.customize-control-radio-image-veritical label img {
    margin-bottom: 10px;
}